[2013-06-15 14:21] ajwaxman opened #1 "share() vs. sharer()"
Hi,

Thanks for this awesome plugin! Very easy to setup and looks great!

I'm a beginner so not sure if I am grabbing the wrong source file, but the share.min.js file I downloaded has a function sharer(), not share(), so was a little confusing after looking at the instructions.  Again, this could easily be me looking at the wrong thing (and it was still super easy to set up regardless), but though

[2013-06-15 14:26] #1 closed, assigned to nobody

[2013-09-16 08:43] GarPit opened #2 "Twitter Web Intents"
Hi!

Great and awesome looking plugin!

I found an issue that it couldn't be used with Twitter Web Intents (for defining callback on tweeting) cause you open a Twitter window via 'window.open'.

Do you plan to support this feature?

[2013-10-03 19:46] austinpray opened #3 "Stray Pixels On Hover"
Seems like you have some pesky stray white pixels showing up on chrome 30.0.1599.66 when you hover over the icons.

I ran into this issue on a previous project where I used entypo icons. I fixed mine by adding `-webkit-backface-visibility:hidden;` to the elements that were giving me trouble. I already tried forking this and applying the fix but it didn't work. It has something to do with the stack

[2013-10-03 22:11] ClaudeSutterlin opened #4 "Facebook Cursor Issue"
If you slowly move the mouse up, the cursor doesn't turn into a pointer until it is on top of the F, whereas it changes immediately when you enter either of the other two sections.

Google Chrome Version 30.0.1599.66

[2013-10-03 22:19] jescalan opened #5 "Grunt should compile stylus"
Right now, if edits are made to the styles, it's a very awkward process to get them integrated in. This should not be the case, and grunt should do this automatically. Brought up originally in #3

[2013-10-15 19:30] #5 closed, assigned to nobody

[2013-10-15 19:30] #4 closed, assigned to nobody

[2013-12-15 02:38] MajidCS opened #6 "It does not support Chrome"
Share button this very wonderful, but unfortunately does not support Chrome browser. Can you add the many buttons?

could you make the menu appear vertically ?

Thank you,

[2013-12-20 07:02] morenoh149 opened #7 "[suggestion] scope ul and li"
As far as making this more useful out of the box. I already had styles for ul and li on my page. So I had to add classes to fix the share buttons.
I'd be cool if you changed your lookup to `ul.share-btn`, and add `class="share-btn"` to the ul.

[2013-12-21 00:12] #7 closed, assigned to nobody

[2013-12-25 14:58] q2amarket opened #9 "How to add more social channels"
I am looking for adding more social channels.. like Linkedin and Pinterest. Are you planning to add these two in near future? Or can you give some idea how to add those?

[2013-12-25 18:05] #6 closed, assigned to nobody

[2013-12-25 18:06] #2 closed, assigned to nobody

[2013-12-30 12:51] proclamo-zz opened #11 "getStyles function"
Styles in the demo page don't match with those when I build with cake build.
I had to copy the old line in share.cofee "styles = "<meta name='sharer'><li..." and step over the getStyles() function.
This is the first time I work with cofeescript, so I'm not able to modify de Cakefile because I don't understand well it.

[2013-12-30 23:07] #11 closed, assigned to nobody

[2014-01-02 10:26] q2amarket opened #12 "Multiple share on the same page and on the loop"
I am trying to add it on the loop (list) but the issue is that it is considering only first element and rest ignoring.

Means if I use the different class or with adding something like `share-button '. $id .'` withing php loop it is not working after first loop.

If I use same class than it is taking all data from the first item in the loop. Any solution for this?

[2014-01-04 16:20] awpy opened #13 "Facebook Colour Leaking"
Hi,

Wondering if you could be kind enough to help me out with a conflict I'm having with your share-button.

The issue is that the Facebook button colour leaks into the other 2 sharing modules. Like this: http://d.pr/i/6ZrK
On the page: http://d.pr/Jszt

I have pointed the issue out to be these lines of code used in the gallery CSS used on the page: (demo.css)
- {
  -webkit-box-sizing: border-box

[2014-01-04 23:03] #13 closed, assigned to nobody

[2014-01-09 15:45] jescalan opened #14 "Hover is always purple"
I'm not sure how this was never noticed, but this is a massive bug. Will push a fix for this in a moment.

https://github.com/carrot/share-button/blob/master/src/styles.styl#L20

[2014-01-09 16:49] dyaa opened #15 "Demo Page"
Something is wrong with demo page http://carrot.github.io/share-button/

[2014-01-09 16:54] #12 closed, assigned to nobody

[2014-01-09 16:55] #9 closed, assigned to nobody

[2014-01-09 17:05] #14 closed, assigned to nobody

[2014-01-09 17:27] #15 closed, assigned to nobody

[2014-01-10 07:59] pwfraley opened #16 "Hover text color & backgroundcolor in options"
It would be cool if the hover text color and background color could also be set in the config options :) maybe even the text decoration for hover ...

[2014-01-13 10:48] yingban opened #17 "multiple shares on one page ?"
Hi,

thanks the plugin, it's really cool.

But... I tried to implement it on a page with several articles, with a share-button on each article, and it seems that we can't have multiple share-button on one page.

Have you planned an update ?

Best regards,
Ban

[2014-01-14 10:23] LucaRosaldi opened #18 "Webfonts and CSS customization."
Hi there,

i gave a look at the source and I have a couple of issues / suggestions / feature requests for the plugin:

1) Is it really necessary to load _two whole webfonts_ (Entypo: 12Kb, Lato: ~30Kb) for just 4 icons and a word? I mean, part of the benefits of using this solution is less HTTP requests and less page weight, but that’s not really the case with this approach. I think that **setting

[2014-01-17 20:19] #17 closed, assigned to tmilewski

[2014-01-26 18:19] reil86 opened #22 "Add Pinterest / Email Share"
Hi, is there any way to add email sharing and pinterest?

[2014-01-27 04:17] robertjwhitney opened #23 "Overflow cut off"
Don't have time to take a look at this at the moment, but I noticed that the element overflows outside of the viewable area. Here is a fiddle: http://jsfiddle.net/95cVL/7/

Happy to look at it when I get a minute, just thought I'd log it here for ya. Thx!

[2014-01-27 16:13] #23 closed, assigned to nobody

[2014-01-28 06:13] jescalan opened #25 "Build for amd and commonjs"
Share button should be easily consumable through both amd and commonjs, as both are already very common ways of managing js modules, and will only become more so in the future. [UMD](https://github.com/umdjs/umd) is probably a good way to handle this.

In addition, it should be easily able to be used through node or bower, meaning we'll need a couple adjustments to the `package.json` and a `compon

[2014-01-28 06:15] jescalan opened #26 "Cross-Browser Tests"
First, it would be really nice to have tests (although packages like this one that are heavily visual can be difficult to test). But after it's more easily able to be required, at very least a couple unit tests could be put in place. [Testling](http://ci.testling.com/) is a great resource that would allow us to run these tests across a bunch of different browsers.

[2014-01-29 11:53] memdigital opened #27 "Flyout Down?"
Hi guys,

Any chance of a flyout down option? I am going through the code and I think it is possible. I could be just a dreamer though.

Thanks kindly, great work.

[2014-01-29 15:32] McLovin-87 opened #28 "Facebook Box error"
Hi,

I’ve a problem with the share button. When I click on the Facebook icon I receive the following error (see image). How can I solve this problem.

This error appears when I'm only using the latest version of carrot (index.html). Not even using my own template. Just the project files.

![error](https://f.cloud.github.com/assets/6535950/2030747/69c7cb0e-88fa-11e3-91ef-5c149cd3fa5e.png)

[2014-01-29 16:12] #28 closed, assigned to nobody

[2014-01-29 16:17] #27 closed, assigned to nobody

[2014-01-31 20:11] mckane opened #30 "Flicker and hide social icons on load"
I am seeing the icons flicker and then disappear (via the flyin animation) on page load. I am not sure what to attribute this to, or why it would be doing this. It only happens sometimes... might be a race condition of some kind, but it is distracting and I'd like to get rid of it. Perhaps the quickest, easiest would just be getting rid of the "hide" animation and have it be instant... then on pag

[2014-02-01 07:28] robertjwhitney opened #32 "https"
Well, first I removed the protocal from the calls out to the font stylesheets, but welove fonts doesn't work over https so that's out. Related is that I don't really want to load two entire font sets for a an icon and a little bit of text...

[2014-02-03 14:18] saibayadon opened #33 "Center share pop-ups."
Facebook share is centered because it's called with the SDK method (FB.ui), but all other popups are uncentered.

[2014-02-03 16:36] pasine opened #35 "Remove button text"
Setting `button_text = ''` display the default `"Share"` value.
I am not experienced in coffeescript, so I solved with a good old `if..else` (I did not send you any pull request, since I am not sure this is the best solution).
I also think that `<span>#{config.button_text}</span>` should not be included in case of empty string.

[2014-02-03 18:39] #35 closed, assigned to tmilewski

[2014-02-03 19:14] jescalan opened #37 "Add Share Counts"
We can use [this API](http://www.sharedcount.com/) to grab them. We'd have to have handling for an "over api limit" response, and allow a `sharedcount_api_key` option for if the free tier runs out as well.

[2014-02-04 07:59] bputt opened #38 "Open method not found"
Tried the example with the open() method and states that there is no open method.

[2014-02-04 14:27] mrcasals opened #40 "Facebook button on demo is broken"
The Facebook button at the demo page is broken, this is the message I get on Chrome DevTools console:

[code]

Apart from that, nice work! :)

[2014-02-04 14:57] #40 closed, assigned to nobody

[2014-02-05 17:23] jonathanong opened #41 "Remove jquery dep"
Unnecessary for something this simple

[2014-02-05 20:43] #33 closed, assigned to nobody

[2014-02-06 09:56] EXFS opened #44 "WordPress problem"
jQuery & share loading in footer, created empty div, called the script but is not working. Maybe i'm missing something, idk ..
![222](https://f.cloud.github.com/assets/6603511/2097225/cd277166-8f14-11e3-876e-b43f9a463ae6.png)

Is not taking any style or functionality.

[2014-02-07 22:30] debugger22 opened #45 "Images do not load over https"
Images in the buttons are not being loaded in https websites.

[2014-02-07 22:33] #45 closed, assigned to nobody

[2014-02-08 01:03] ticoraap opened #46 "flyout: 'center left' & 'center right'"
All possible flyouts are really nice but i just happen to have little space in where to put it. so i thougt if it is possible to add it over the "share" like by adding a 'center center'

Or 3 new center possibility's
flyout: 'center leftalign'
flyout: 'center center'
flyout: 'center rightalign'

And how do you change the animation? where should i look

[2014-02-10 03:19] samstr opened #47 "Flyouts do not work on 0.0.3?"
https://github.com/carrot/share-button/releases/tag/v0.0.3

build/share.js has no flyout config

I am using bower and had to specify a more recent commit to get flyouts working:

`"share-button": "git://github.com/carrot/share-button.git#2387d0886a9eb8f2123fbb4fb00fa9e2285025fa",`

[2014-02-10 15:48] #47 closed, assigned to nobody

[2014-02-10 15:50] #44 closed, assigned to nobody

[2014-02-10 15:52] #3 closed, assigned to nobody

[2014-02-10 19:39] samstr opened #48 "Do not rely on weloveiconfonts.com for entypo font lib"
It might be my DNS but I'm seeing some real lag in connecting to weloveiconofonts.com.
I think it would be a good idea to avoid that (see screenshot below). Maybe add a bower dependency that brings it in locally, if that could work.

![screen shot 2014-02-10 at 19 34 29](https://f.cloud.github.com/assets/428626/2129693/72b21d84-928a-11e3-8477-7e97202fd100.png)

[2014-02-11 03:56] austinpray opened #49 "Firefox 27 Artifacting"
Issue appears on the example page here: http://rawgithub.com/carrot/share-button/master/examples.html

Open one share button
![screenshot 2014-02-10 21 50 48](https://f.cloud.github.com/assets/2192970/2133840/db545f7e-92cf-11e3-9841-18a003d08149.png)
Open a second share button
![screenshot 2014-02-10 21 50 54](https://f.cloud.github.com/assets/2192970/2133839/db51e10e-92cf-11e3-814e-859dd4bfb8cf.p

[2014-02-11 18:40] mattaltepeter opened #50 "Issues in IE 8"
It seems to be malfunctioning in IE 8. The share button shows up fine, but the Twitter, Facebook, and Google+ icons all appear on page load. When I click the share button, the container for the three icons moves to the left slightly. The buttons launch the correct sharing dialogue, but are displayed incorrectly. I checked out the share button test (http://carrot.github.io/share-button/) to see if

[2014-02-11 22:20] stalluri opened #51 "Feature request : It would be great to have a bit.ly email link for shares, as well as Share by email icon"

[2014-02-11 22:24] #51 closed, assigned to nobody

[2014-02-12 01:21] Crash-git opened #52 "Bit.ly Links"
I think it would be nice to have some sort of bit.ly link generator button, to have an option for link sharing(in case the user wants to share on a social network outside of the supported ones).

[2014-02-12 03:30] #48 closed, assigned to nobody

[2014-02-12 03:39] #32 closed, assigned to tmilewski

[2014-02-12 14:33] #52 closed, assigned to nobody

[2014-02-12 15:25] #50 closed, assigned to nobody

[2014-02-12 16:53] #30 closed, assigned to nobody

[2014-02-13 20:41] fahmi182 opened #54 "Why Meta Description? Not Title :)"
I think, Title tag is very good for text sharer :)

[code]

[2014-02-13 20:45] #54 closed, assigned to nobody

[2014-02-16 00:23] rudemex opened #55 "Icons not working cross browser"
Hello, my English is not great, but good.
I found a very effective solution to the problem of typography in all browsers. http://fontawesome.io/ use, and replacement by javascript classes.

I hope you find it useful. if I have time I put the code as implemented. but it would be good that the developer of this library it will improve for all, is nothing more advice.

Greetings from Argentina!.

[2014-02-17 11:36] pixeline opened #58 "IE9 : icons don't show up."
Hi,

FYI: on IE9 (Windows 7): the font icons do not appear; you get colored squares, no icons inside.

Thank you,
a.

[2014-02-17 15:00] #58 closed, assigned to nobody

[2014-02-24 14:16] vikask opened #59 "How to set dynamic URL or Message for Facebook & Twitter?"
I'm using this share plugin in my chrome extension, but it's not working only for facebook. do you have any idea how it will work for chrome extension?

[2014-02-26 17:35] josephdburdick opened #60 "How do insert more than one share button and toggle each with click?"
Hey @jenius, I figured I'd ask this here so other people can benefit from the answer.

If you have a page with more than one share button how do you only toggle the one that the user clicked on? Currently clicking one toggles every share-button on the page.

Thanks!

[2014-02-26 19:26] #55 closed, assigned to tmilewski

[2014-02-26 20:05] dmathisen opened #61 "Support for Facebook OpenGraph and Twitter Cards fallbacks"
Right now, if the `text` option isn't provided it falls back to the _meta description_. That's good.

If a site has Facebook OpenGraph tags (`<meta property="og:image" content="..." />`) and/or Twitter Card tags (`<meta name="twitter:image" content="..." />`), these should be used for title, description, image, etc.

The order should be what the user defined in the share script, then OpenGraph / T

[2014-02-26 20:48] justiny opened #62 "Integrating into WordPress"
I probably should know how to do this, but I'm coming up short here.  Not sure how to call the permalink through the script - for facebook, twitter, google plus, pinterest.  Any clues which way to point me here?

Thanks, cool script.
Justin

[2014-02-26 20:49] #62 closed, assigned to nobody

[2014-02-27 07:29] #60 closed, assigned to tmilewski

[2014-02-28 22:50] #61 closed, assigned to nobody

[2014-03-06 21:00] dealingwith opened #67 "Update to "new" Facebook share dialog"
Perhaps with the option to use the API or their "new" sharer.php method https://developers.facebook.com/docs/plugins/share-button/ (the latter is more consistent with the Twitter and G+ options).

[2014-03-13 08:34] CoLzAk opened #68 "Declaration of statement"
Hello !

First of all, thank you for sharing this plugin, It's easy to make it work ! ;)
However, I noticed the file begin with "!" character which make the plugin not working when using assets management like assetic in symfony2.
What i've done is transform

[code]

to

[code]

which I think might be a more readable way to write it.

Regards,

Colzak.

[2014-03-13 14:02] #68 closed, assigned to nobody

[2014-03-14 19:12] finnp opened #70 "Only works with class names as selectors not ids"
Hey,

I just noticed an annoying bug. If the element is chosen through an id like $('#share') it doesn't work as expected. Only using class names like $('.share') works.

Would look into it, when I have some time :)

Best,
Finn

[2014-03-17 17:33] #41 closed, assigned to nobody

[2014-03-17 17:34] #70 closed, assigned to tmilewski

[2014-03-17 17:35] #38 closed, assigned to tmilewski

[2014-03-17 17:35] #25 closed, assigned to jescalan

[2014-03-17 19:17] #59 closed, assigned to nobody

[2014-03-19 17:50] #67 closed, assigned to nobody

[2014-03-25 06:08] ghost opened #74 "Breaks Meteor Template Events"
When I add this code into the client side of my Meteor app, it breaks all of the actions that get defined in Template.templatename.events section.

[2014-03-25 08:10] hendrikbeck opened #75 "No other Javascript gets executed after adding Share Button JS code"
I integrated share-button but adding the HTML and the most basic JS snippet you're showing in the docs. This seems to break the JS on the rest of the site, no other JS works anymore. The JS console in my browser doesn't show any crashing JS though, so I'm a bit puzzled. But it does seem reproducible, once I remove the JS code of the share-button, everything starts working again. Any ideas what thi

[2014-03-25 14:32] #74 closed, assigned to nobody

[2014-03-27 15:33] carolineschnapp opened #76 "[Facebook share] "An error occurred. Please try again later.""
When I use the Share on Facebook, I get this error:

[code]

http://swiftype.myshopify.com/products/anson-chair

The Open Graph debugger does not report any error:

https://developers.facebook.com/tools/debug/og/object?q=http%3A%2F%2Fswiftype.myshopify.com%2Fcollections%2Ffrontpage%2Fproducts%2Farvo-side-chair

I am probably doing something wrong.

[2014-03-27 15:37] #76 closed, assigned to nobody

[2014-04-04 16:10] inklingsolutions opened #77 "Can't get data-url to work."
I wonder if anyone could guide me in the right direction.  I'm trying to get the data-url attribute to work, so it shares the url dynamically but i'm not having any luck.  I'm just using the sample piece here to show.  Any guidance  would help.

Here's the example url: http://inklingsolutions.com/customer/share/examples3.html

Here's what i'm actually using in the mark up:

[code]

Thanks in advan

[2014-04-04 19:24] #77 closed, assigned to nobody

[2014-04-08 10:32] amdrew opened #79 "Facebook error - An error occurred. Please try again later"
This looks great. I've read your docs, and seen the other issue on here about the same issue. I do not have the APP ID specified.

`An error occurred. Please try again later.`

html:
`<div class='share-button'></div>`

JS

`<script>
    var share_button_top = new Share(".share-button");
</script>
`

I have also tried the example files that came with the zip (and removed the app ID) to no avail. An

[2014-04-08 14:33] #75 closed, assigned to nobody

[2014-04-18 13:00] fvsch opened #80 "Update readme re. jQuery, implementations"
The readme page doesn’t seem to reflect the project’s status.
- “Simple, light, flexible, and good-looking share button **jquery plugin**.”
- “Enable Google+. [Default: true] **(not yet implemented)**” (likewise for Twitter)

As far as I can see from http://sharebutton.co/ there is no jQuery dependency anymore, and sharing with Google+ and Twitter seems to work.

[2014-04-25 20:42] fluxxus opened #81 "Button is broken in IE10"
Share button is broken in IE10(win 7). The part with the icon is cut off, and the part with the Share text is stacked below the icon part. The functionality is there, but the button is split into two parts.

At first I thought that I overlooked something, but it is broken on your demo site too.
p.s. I am sorry if the share button is meant to look like this on IE :)

[2014-05-01 15:35] btmdave opened #82 "Font size of button/icon?"
Is there an config attribute for font-size to control the size of the button?

Thanks!

[2014-05-12 06:09] yoneth opened #84 "Pop In Issue"
How do I prevent buttons from popping in everytime the page is refreshed ?

[2014-05-14 19:19] #80 closed, assigned to nobody

[2014-05-14 19:31] #81 closed, assigned to nobody

[2014-05-14 19:54] #84 closed, assigned to nobody

[2014-05-14 20:20] #18 closed, assigned to nobody

[2014-05-14 20:45] #49 closed, assigned to nobody

[2014-05-14 22:27] tmilewski opened #85 "Move styles from configs to CSS"
Add section in README to show how to apply custom styles the share button element. Remove them from the plugin configuration.

Related Issues: #16, #82

[2014-05-14 22:27] #16 closed, assigned to nobody

[2014-05-14 22:27] #82 closed, assigned to nobody

[2014-05-15 03:04] #79 closed, assigned to nobody

[2014-05-19 18:15] #22 closed, assigned to tmilewski

[2014-05-19 23:19] #46 closed, assigned to tmilewski

[2014-05-20 01:01] hhsnopek opened #86 "Apply css last"
I'm attempting to implement the share button, but I'm unable to have the styling display correctly.

I'm using the axis `typography()` mixin at the top of my css... The styling on the share-button seems to be affected.

<img src="https://i.cloudup.com/ETPbHqhMaj.png" />

Anyway to append the share-button css last?

[2014-05-20 02:07] Ljanmi opened #87 "Title and size of the button"
I can't change the size and the "title: Share" of the button. I guess I will have to wait for CSS. It's great just it is useless for me without my custom styling... :( :(  :(

[2014-05-20 02:31] #87 closed, assigned to nobody

[2014-05-20 02:35] #86 closed, assigned to nobody

[2014-05-20 19:38] #85 closed, assigned to nobody

[2014-05-22 04:25] devonmather opened #90 "Hovering over empty space will trigger the share buttons if clicked."
If you hover above the share widget you can click on the invisible share buttons. This isn't ideal based on where the share widget might be located. And simply if something is invisible it shouldn't be clickable.

Can be viewed via the demo.

http://sharebutton.co/

Seems like there are a lot more bugs since last time I used this widget.

[2014-05-22 05:23] #90 closed, assigned to nobody

[2014-05-26 01:55] cjbarber opened #91 "button_font setting doesn't seem to work?"
have tried setting to:
false
and
"Helvetica"
and
"false"

[2014-05-27 03:22] #91 closed, assigned to nobody

[2014-06-07 08:29] charakterziffer opened #93 "Minimal version overwrites a website’s own Entypo"
The website dradiowissen.de uses the minimal share-button (v2) along with an own version of Entypo.

The problem: The share-button will (correctly) be loaded after the rest of the site. Then the minimal version of share-button’s Entypo overwrites the already loaded full Entypo. The result is – at least in Firefox – that the icons from the full Entypo get replaced by placeholders. See it yourself f

[2014-06-10 13:25] minthemiddle opened #94 "Question: How to use share-button to push new blog entry to social media?"
The share-button works really well when used to let users share your content.

I wonder however, if and how I could use the script to auto-push new entries in my blog to Facebook, Twitter and the like.

I first thought it should be as simple as pairing my "Submit post" button with a `new Share`. I would preload the config via my template (in my case using Jinja2) and push on commit.

But then I ha

[2014-06-10 14:43] #94 closed, assigned to nobody

[2014-06-10 22:01] SachaG opened #95 "No-button version"
It'd be really cool to have an option to have the social media buttons appear in-line, without having to click on the "share" button to reveal them.

It can be done with a bit of CSS hacking right now, but a cleaner way would be nice :)

[2014-06-10 22:14] #95 closed, assigned to nobody

[2014-06-11 06:59] #93 closed, assigned to tmilewski

[2014-06-26 02:50] ryantait opened #96 "Linked In?"
Possible to add linked in?

[2014-06-28 09:08] patrixd opened #97 "Content doesn't appear for email"
When I click on share by email, appears a new blank window without any content inside it.

[2014-07-02 15:43] polikin opened #98 "RequireJS error"
I tried your plugin with RequireJS, but it doesn't work.

I have this error:

[code]

[2014-07-02 17:47] raffone opened #99 "Disabling the default css"
Is it possible to completely disable the default css?
I looked at the source and doesn't seem possible right now.

[2014-07-02 19:03] #98 closed, assigned to nobody

[2014-07-04 18:33] ahmetsali opened #100 "IE8 Problem"
Hi, on IE8, i get this error on console and it breaks every other code execution.

Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0)
Timestamp: Fri, 4 Jul 2014 18:32:34 UTC

Message: Object doesn't support this property or method
Line: 141
Char: 5
Code: 0
URI: http://sharebutton.co/build/share.js

[2014-07-07 13:33] #100 closed, assigned to nobody

[2014-07-07 16:22] #97 closed, assigned to nobody

[2014-07-13 10:23] ilompf opened #102 "Unable to set dynamically generated content for email sharing"
I am trying to share a dynamically generated url via email as follows:

[code]

where the function `generateDeepLink()` is:

[code]

The expected outcome in the generated email should be (and it worked while sharing on facebook, twitter etc. using the `before` hooks):

[code]

But what I got was:

[code]

[2014-07-22 15:03] EntilZha opened #104 "Don't Load CDN CSS/Font"
Is there a way to have share-button not load the default CSS/Font. I have this as part of a Rails project and already use a cdn so would prefer to concatenate it to my current assets and use one less request.

This is the code that calls the cdn:

[code]

[2014-07-22 15:04] #104 closed, assigned to nobody

[2014-07-28 07:56] Fil opened #105 "email.body should contain the URL"
`body: description + "\n" + url` would be fine don't you think

[2014-08-02 18:34] dminkovsky opened #106 "Repeat line"
https://github.com/carrot/share-button/blob/2e5eb0f4ffc638b00c807d5718a3df64a7facf80/src/share.coffee#L90

and

https://github.com/carrot/share-button/blob/2e5eb0f4ffc638b00c807d5718a3df64a7facf80/src/share.coffee#L99

are the same. Appears to be an error, though it doesn't cause problems.

[2014-08-05 14:02] #106 closed, assigned to nobody

[2014-08-05 14:26] jenius opened #108 "Default color is purple"
Yeah so when you make a new share button from scratch, the default color is `#a29baa`, which is a light purple. While this may be appropriate for the demo page, it's not for normal use. I think an appropriate substitution would be `#ccc`.

[2014-08-05 14:39] jenius opened #110 "Upgrade build process to gulp"
The build process is pretty intensive here, especially with the way that the css is processed and built into the output for dynamic insertion. Previously when making the build tool, I tried to use gulp but really needed accord in order to get the options necessary. Now we do have a [gulp plugin for accord](https://github.com/carrot/gulp-accord), so it should theoretically be possible to switch thi

[2014-08-24 19:28] #102 closed, assigned to nobody

[2014-08-27 05:24] ilanbiala opened #111 "Browser support?"
What browsers does this support? I couldn't really find any details on this, and I'm just curious because I see a classList shim included and I'm wondering if that's necessary based on the supported browsers.

[2014-08-27 16:14] #111 closed, assigned to nobody

[2014-08-28 19:03] LCMiller opened #112 "Great plugin but ...."
Love your plugin, was the only alteranitve I could get to use with my skin, absolutley no conflicts, so congrats, really grateful for the time it took you to create.

Wonder though would it be possible to add anymore social sites, e.g. Linkiedin, Reddit etc. Or maybe point me in the direction of adding them myself.

thanks again, Lee

[2014-08-28 19:18] #112 closed, assigned to nobody

[2014-09-04 17:00] peterolle opened #113 "Failed to load resource: the server responded with a status of 503 (Service Unavailable)"
There is a problem today loading the css.

Failed to load resource: the server responded with a status of 503 (Service Unavailable) https://www.sharebutton.co/fonts/v2/entypo.min.css

I did not know it was being pulled externally until now.

Where can I get that css and where to edit to use it locally ?

Cheers.

[2014-09-04 20:14] #113 closed, assigned to nobody

[2014-09-08 15:36] elsondinardo opened #114 "Make a extension for magento"
Will be great thing!

[2014-09-20 18:55] johnlouie04 opened #115 "Default Show social button"
Add option to already display social button without click share button

[2014-09-20 22:40] #115 closed, assigned to nobody

[2014-09-26 21:37] 1parkplace opened #117 "Won't init with config options?"
Sorry for my ineptitude, but I swear I am doing it right and it just won't work.

The share button initializes, but it's not using the data I init it with, so it's just the defaults, not sharing the URL, the title or anything that I set.

Here is the code I am using:

[code]

Anything wrong with what I am doing?

[2014-09-26 23:58] #117 closed, assigned to nobody

[2014-09-29 10:15] levelone opened #118 "Is it possible to rearrange socials?"
I'm trying to prioritise my socials in an order of my liking. How can I do this without hacking into the script file provided?

[2014-09-30 23:56] #114 closed, assigned to nobody

[2014-09-30 23:56] #118 closed, assigned to nobody

[2014-09-30 23:57] #105 closed, assigned to nobody

[2014-10-06 03:56] adamhadani opened #122 "OpenGraph Tag usage is buggy"
Hey,
love this little plug, found it very useful. Ran into this issue to do with usage alongside og tags -
1. Its not documented in the readme.md, which is a shame since can be very misleading for site developers who end up embedding opengraph tags but do not expect them to affect this script in any particular way necessarily
2. There's a bug where, if you define an og:image and not an og:descript

[2014-10-06 22:11] #122 closed, assigned to nobody

[2014-10-16 10:35] hvgeertruy opened #124 "Arrow missing?"
Like you show in the demo:

![demo](https://camo.githubusercontent.com/863a68c6e85869408219e296800ba78dadc7e9ce/68747470733a2f2f692e636c6f756475702e636f6d2f5254494f5a6578392d692e676966)

There's a arrow shown below the facebook icon.
But it's not in the final implementation.

I rather liked that arrow, tbh. Why did it have to go? Is it intentional?

[2014-10-27 09:13] ht1080z opened #125 "adding custom css style"
Hi, i cannot override the default css from js. Adding an external css file (last line in the <head>) and calling the js (last line in the body before triggering the script) no affect the css at all. I need to change the button color, size.

[2014-10-27 14:56] #125 closed, assigned to nobody

[2014-10-30 10:30] viebone opened #126 "Error function undefined"
Hi,

Thank you very much for the plugin, it looks awesome, however the version you have on github is throwing and error due to an udefined function to_rfc3986().

I copied the code from the js on your site and it works, no trail of to_rfc3986() function in your live example javascript.

Am I doing something wrong?

Thanks

[2014-10-31 03:23] #126 closed, assigned to nobody

[2014-11-02 11:37] mertdogan opened #128 "Can't Hide Email Button"
I've code below to share my page. I don't want to show email button but when i add this code in my page; button isn't hidden and still visible and layout of buttons are seems broken:

[code]

![untitled-1](https://cloud.githubusercontent.com/assets/1324617/4875121/7f55d466-6284-11e4-85da-36c8d3fa442d.png)

[2014-11-05 17:25] ppawel opened #129 "Allow HTML code customization"
Now it looks like the HTML code is generated by your JS code. It's hard to incorporate this HTML into existing layout - a lot of CSS hacking is needed.

It would be cool if the widget was more flexible and allow to attach it to given element (without modifying the element itself).

[2014-11-05 20:54] #129 closed, assigned to nobody

[2014-11-12 12:09] martinbetz opened #130 "Wishlist: Add Whatsapp button"
Whatsapp now supports sharing by URL and there is already [one implementation](http://whatsapp-sharing.com/) out there.

I think this is a great candidate for a nex integration.

The only problem is see is that you should hide it when being viewed on a non-mobile device. When using a CSS framework such as [UIKit](http://www.getuikit.com) I would wrap it in a `div` that does not show up at certain

[2014-11-24 12:14] peasandwell opened #131 "& character breaks title and description values"
I noticed that the & symbol seems to break any values that are passed into the plugin. So for example:

[code]

Would render just "Checkout our food " in all social media (including media).

Is this a known issue? Am I doing something wrong?

[2014-12-02 23:01] Mo-chan opened #133 "# character breaks title and description values"
when i tried to assign the url to my website, it include a **#** sign but it only read until the **#** and after that nothing shows up, either in the url or description
[code]
so **/Title** and **Tweet** didn't show up

[2014-12-28 03:41] tgcreate opened #135 "Facebook errors"
Am absolutely loving this, but I'm finding that whenever I attempt a Facebook share, the popup gives me this error message: "An error occurred. Please try later."

When I click OK, the popup does take me to Facebook, but the preloaded share is gone.

I'm probably doing something wrong, but I'm not sure. I didn't change the app_id. Am I supposed to replace that with one I get from Facebook myself?

[2014-12-28 03:59] #135 closed, assigned to nobody

[2015-01-05 15:48] jenius commented on #124
Yeah I agree. The arrow was a casualty of making more networks available to add/remove from the popup. The logic to detect networks have been added/removed then position and color the arrow correctly seemed ridiculous. I liked it too though and would like to get it added back in at some point.

[2015-01-05 17:40] gabeodess opened #136 "Show buttons by default"
It would be nice if there was a configuration option to show the buttons by default as opposed to having to push the "share" button in order to reveal them.

[2015-01-05 18:45] jenius commented on #136
This is a massive change in the design of the project. The whole point of the button is to compact the shares and delay the loading of all that stuff until a person actually wants to share. If you don't need to click the button, why have a button in the first place, right? So now that the button has been stripped out, it's just a row of customizable share icons, which is a different project.

You

[2015-01-05 18:45] #136 closed

[2015-01-05 19:00] gabeodess commented on #136
I see, I hadn't considered that the buttons aren't actually loaded until someone clicks the "share" button.  That's smart.  I wouldn't imagine it would be that hard to automatically trigger that event (and some other css) on pageload based on a configuration though, right?

The concern I think a lot of people might have is that the share button requires an additional click than if the network butt

[2015-01-05 19:12] jenius commented on #136
Yeah, I see what you are saying for sure. But the entire point of this project is to have it require an additional click. Our general view on this is that if people want to share your page, they will do so, and we trade an additional click for the following benefits:

- If you have a button that says "SHARE" in clear capital letters, it seems counter-intuitive to me that someone would like your co

[2015-01-05 19:32] gabeodess commented on #136
Actually, after reviewing the plugin, I think I can accomplish what I'm talking about using the API with share.open() and some custom CSS.

Maybe I'll run an optimizely A/B test on that and see which gets more clicks.

[2015-01-05 19:34] jenius commented on #136
Sure -- would definitely be interested to see the result! There are certainly plenty of factors that should be taken into account in such a test, but even a rough measure would be interesting.

[2015-01-11 21:04] Mo-chan commented on #133
worked :) , thank you that was helpful

[2015-01-19 01:56] zreitano commented on #135
My app_id is coming out blank in the url. Here is my config

[code]

Any help would be awesome!

[2015-01-19 02:03] zreitano commented on #135
In debugger mode in the Chrome console, my config object looks like this:

config
Object {url: "http://urx.io/useshout.com/app/shouts/8180", title: "Check out this Shout: Yup", description: "They are pretty sweet!!!!", image: "http://shoutdevelopment.s3.amazonaws.com/posts/818…6500&Signature=MjfI%2BTtGDJti%2FjasxJsB6COFQtY%3D", networks: Object}

config.networks
Object {facebook: Object, google_pl

[2015-01-19 21:06] zreitano opened #137 "Facebook app_id empty in Dialog Pop-up"
First, this is awesome and beautiful. I have it almost working perfectly to my needs.

My app_id is coming out blank in the url. If I paste my app_id in the url it will show the correct information (image included). However, I can't get the app_id to insert automatically.

It keeps returning:https://www.facebook.com/dialog/feed?app_id=&description=...

Here is my config:
[code]

In debugger mode i

[2015-01-22 09:15] moabi opened #138 "ie8 -"
issue in ie8
line 141

[2015-01-24 20:21] tmilewski commented on #138
Sorry, there aren't any plan to support IE8 and below.

[2015-01-24 20:21] #138 closed

[2015-01-25 21:26] Brianfit opened #139 "Facebook dynamic configuration issues"
Superb work. The only issue I've been unable to resolve is that the Facebook configuration doesn't seem to take any configuration values other than url. In the following:

     var share_button_right = new Share(".share-button-bottom", {
        title:      'My Title',
      url:    'http://www.example.com',
      description: Share_text,
      background: '#fffff',
      image:       Image_img,

[2015-02-19 14:51] bwyss opened #143 "Can not pass variable into configuration"
I want to do something like this:

   var foo = "www.foobar.com";

   twitter: {
      url: foo,
      description: "test description..."
    },

[2015-02-19 15:51] jenius commented on #143
I don't see why that wouldn't work, that's just javascript, has nothing to do with this plugin...

[2015-02-23 09:31] beckybeq opened #145 "Multiple custom styles"
I can customize the CSS and it works. But every time I call the configuration is always the same because of its appearance css generated from JS. How do I make more than one css style. for example referring of class, can you?

[2015-02-23 15:36] jenius commented on #145
You can override [these styles](https://github.com/carrot/share-button/wiki/CSS-Styles) to customize. There are no inline styles added by js, they are all css and can be overridden :grinning:

[2015-02-23 15:36] #145 closed

[2015-03-08 04:45] pyk opened #146 "dep: ugilfy-js was unpublished"
`share-button` dev dependency `"uglify-js": "^2.3.6"` was [ubpublished](https://www.npmjs.com/package/uglifyjs) and `axis-css` move to `axis`.

[code]

[2015-03-08 05:22] marvoh opened #147 "Instagram?"
Great plugin, more social networks the better :-)

[2015-03-08 14:43] kylemac commented on #147
@marvoh I don't believe there is anyway to share a piece of content from a website to instagram. do you know of any technique?

[2015-03-09 15:26] giovanniorigins commented on #37
+1

[2015-03-10 21:43] kylemac commented on #147
i'm going to close this for now. if you _do_ have a technique or one comes along, feel free to reopen @marvoh

[2015-03-10 21:43] #147 closed

[2015-03-11 04:21] marvoh commented on #147
Hey, sorry for late response, you're right there's no way to do so.

[2015-03-12 20:40] aurevilly commented on #128
I ended up using CSS to disable the icon. Make sure you're using the correct CSS selector using the following code:

[code]

[2015-03-13 08:26] mertdogan commented on #128
Aurevilly i allready fixed issue myself like your css disable trick. I reported issue for help problem of shared code.

[2015-03-14 15:05] SBillion commented on #139
+1

[2015-03-16 14:48] marvoh opened #148 "Twitter Cards"
I am having trouble getting cards to work with this. I'm I getting something wrong because I have set up well including meta information and cards approved by twitter

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@monarstrategic">
        <meta name="twitter:title" content="Bless a needy child this Easter. #SelltoBless">
        <meta name="twitte

[2015-03-30 17:24] #146 closed

[2015-04-01 08:32] simonoff commented on #9
Linkedin was added in #150

[2015-04-01 08:34] simonoff commented on #136
Added possibility to remove 'Share' button and not hiding buttons after click on one of them in #150

[2015-04-10 04:45] anthonydahanne commented on #139
:+1:  +1

[2015-04-13 12:45] tobiasz opened #152 "custom namespace"
Hello it would be nice if you could implement custom CSS namespace. Class like ``.social, .top`` are pretty often used on websites so it's easy to get collision.
eg.
``.namespace-social, .namespace-top .namespace-center``

[2015-04-14 13:39] vigna opened #153 "As an inline element"
I need to use the share button as an inline element in the bar of a FuelUX repeater. However, no matter what I do, it will show on a separate line. Any suggestion?

[2015-04-14 14:58] joshrowley commented on #153
You should be able to target the share button using CSS and setting `display: inline`. If you're doing that and it's still not working, you are probably having issues with setting the right [CSS specificity](http://www.smashingmagazine.com/2007/07/27/css-specificity-things-you-should-know/).

I'm not familiar with FuelUX, but if you're able to provide a [JSFiddle](https://jsfiddle.net/) or somethi

[2015-04-14 15:23] vigna commented on #153
Well, I even tried

<div class="share-button" style="display: inline"></div>

I doubt you can be more specific than that. The problem is that when you look at the DOM after loading it's

<div class="share-button sharer-0" style="display: block;">

So someone is killing my style indication and stamping another one over it.

[2015-04-14 16:09] joshrowley commented on #153
Yes, it looks like share button is inserting that inline, opening this back up.

[2015-04-15 15:21] vigna commented on #139
Any fix date? This is a blocker for us.

[2015-04-15 15:23] vigna opened #154 "Newlines in description text disappear when sharing email"
All CR/LF characters disappear when a piece of text is shared using the email button.

[2015-04-15 15:25] kylemac commented on #139
@vigna we don't have any fix date. we're able to work on these projects when we find/make time, but unfortunately at this time we've prioritized other projects. we welcome any pull requests, however.

[2015-04-17 16:40] jenius commented on #154
Yeah, I think this is actually a limitation of mailto links. I did a bunch of research into this a while back, and while it's possible to get newlines to render in a couple of random email clients if they are escaped, most of them will not render a newline from a mailto link.

This is rather unfortunate, but I would recommend simply using a one liner or a single paragraph for the email share becau

[2015-04-17 16:40] #154 closed

[2015-04-17 16:40] jenius commented on #152
Agreed, I think this should definitely be a feature

[2015-04-17 16:48] vigna commented on #154
No, that's just the entirely crazy encode() function that was "checking" for a string being "already encoded" with a quite unlikely heuristic that was passed by our email text. Don't know why. We just eliminated the check:

 ShareUtils.prototype.encode = function(str) {
    if (typeof str === "undefined") {
      return str;
    } else {
      return str.to_rfc3986();
    }
  };

Everything works

[2015-04-17 18:57] jenius commented on #154
If I'm not mistaken, theres a good reason why we encode the data first. @tmilewski would probably be able to tell you more about this.

It might work fine in whatever email client you are opening it in at the moment, but I definitely recall testing newlines in a bunch of different email clients and having it not work in many of them. If you have tested across a wide range and it works in all of th

[2015-04-18 09:41] vigna commented on #154
The point is not about newlines—the point is that "testing for being encoded" in is_encoded() is entirely crazy. You must know which of your data is encoded or not. Encoding and decoding and testing for differences should give you always false, or your coding functions are broken.

[2015-04-28 03:06] assortex commented on #139
Follow-up on this: Facebook is set to upgrade its API to v2.0, and I'm having thoughts if this will affect the share button.

[2015-05-05 01:40] bfeist opened #155 "Unable to override CSS styles"
The CSS docs aren't explicit on implementation. Including any of the provided CSS classes in an external css file causes those instances to be overridden by the CSS injected by share.js.

Please provide detail on how to use the CSS classes to style the interface.

[2015-05-05 01:47] bfeist commented on #155
here's a fiddle to illustrate https://jsfiddle.net/bfeist/50ssn0rh/3/

[2015-05-21 03:30] leemarcus27 opened #157 "Video sharing"
Hi, I  have been trying to figure out how to add video sharing in twitter and facebook. I started out trying to add an video element in the javascript to get the video using the video file path but when I test the share button the popup facebook dialog doesn't add the video. Any help on this?

[2015-05-25 17:43] detarmstrong commented on #155
The css selector must be made more specific in order to override the pre-defined css. I've updated the fiddle here: https://jsfiddle.net/50ssn0rh/8/. Note "div" precedes the selector, making it more specific. Also, enabled: "false" should be enabled: false.

[2015-05-25 17:52] detarmstrong commented on #128
The trailing comma here:
[code]
could be the cause of this if you're testing in older version of Internet Explorer. More info [here on Stack Overflow](http://stackoverflow.com/questions/7246618/trailing-commas-in-javascript).

[2015-05-25 19:10] bfeist commented on #155
Thanks so much!

[2015-06-02 11:31] webfeuerflo opened #158 "Email contains no URL"
When clicking the mail-button the E-Mail opens and the body contains the title of the Webpage the button is on but there is no clickable URL, so it doesn't make any sense.
How can I get the URL in the Mail?

Tested on Apple Mail.

[2015-06-02 11:52] webfeuerflo commented on #158
ok, found this closed issue: https://github.com/carrot/share-button/issues/105
it works and displays the url, but it is no link.
any idea how to make it clickable?

[2015-06-03 08:43] #155 closed

[2015-06-09 18:33] tmilewski commented on #157
@leemarcus27 Sharing videos is something that is quite a bit beyond both the capabilities and intentions of this library.

Here's more information on uploading videos to Facebook that might help you out: https://developers.facebook.com/docs/graph-api/reference/video

[2015-06-09 18:33] #157 closed

[2015-06-09 18:35] tmilewski opened #159 "Namespaced CSS classes"
Namespace CSS classes to avoid collisions.

Ref: #152

[2015-06-09 18:36] tmilewski commented on #152
Closing this in favor of #159

[2015-06-09 18:36] #152 closed

[2015-06-09 19:29] tmilewski commented on #124
I too like the arrow but making it work in all scenarios, short of being quite a bit of ongoing effort, isn't possible given the current state of the design and functionality. For example, in the situation when there's an even number of networks.

I'm going to close this for now. If there comes a time where it makes sense design-wise, etc to add the arrow back in, we'll certainly do so.

Thanks!

[2015-06-09 19:29] #124 closed

[2015-06-09 19:35] tmilewski commented on #158
That very much depends on the the email client. We're quite limited beyond that. Sorry.

[2015-06-09 19:35] #158 closed

[2015-06-09 19:46] tmilewski opened #160 "Additional Networks"
## LinkedIn
Previous Discussions: #96
Pull Requests: #156, #150

## Reddit
Pull Requests: #101

## WhatsApp
Previous Discussions: #130

[2015-06-09 19:50] tmilewski commented on #130
Thanks! This has been noted and I'm closing in it favor of #160 and a v1.0 release.

[2015-06-09 19:50] #130 closed

[2015-06-09 19:51] tmilewski commented on #96
Thanks! This has been noted and I'm closing it in favor of #160 and a v1.0 release.

[2015-06-09 19:51] #96 closed

[2015-06-09 19:52] #143 closed

[2015-06-09 19:58] tmilewski opened #161 "Support for Twitter Card meta tags"
View updated valid Twitter Card meta tags [here](https://dev.twitter.com/cards/markup).

Ref: #148

[2015-06-09 19:58] tmilewski commented on #148
Thanks! Closing in favor of #161 and a v1.0 release.

[2015-06-09 19:58] #148 closed

[2015-06-10 12:00] manatarms opened #162 "Is there a way to close on click on body"
I want to know what the best way to close the share panel on a click outside the panel. Thanks

[2015-06-10 12:50] kylemac commented on #162
yes, have a look at the readme's "public api" section - the documentation to do what you're asking is there.

[code]

[2015-06-10 12:50] #162 closed

[2015-06-12 10:59] TaqiOfficial opened #166 "Cannot read property 'replace' of null"
I have customize shared url and images like this
[code]

and getting error  on this line in share.js

`hasProp = to[prop] !== undefined;`

*`Uncaught TypeError: Cannot read property 'replace' of null`*

[2015-06-13 04:44] TaqiOfficial opened #167 "Callback after successfully Shared"
I want to get callback if the page has been successfully been shared or not. I have used `before` and `after` but it only functions when the sharing windows opens, not when exactly the contents has been shared.

[2015-06-13 09:10] jenius commented on #167
Yeah this depends on whether each individual network provides a callback. As we add more networks, this will become difficult to make consistent as a feature. If you could look into the support other networks have for a post-share callback and post it here, that would help a ton!

[2015-06-13 14:16] TaqiOfficial commented on #167
As far as I know `Facebook`, `Twitter` and `Linkedin` provides callback if you use their JS APIs. As you have use FB feed API so it was easy for me to put a callback function for facebook but for others you have use their share url. If you use their api instead of Share url it would become easier to putt callback functions for them also.

[2015-06-13 14:52] TaqiOfficial commented on #167
From this Article `http://projs.hackhat.com/how-to-make-a-custom-share-tweet-button-and-know-when-the-user-clicked/`

I used this as

[code]
Now, need to call this function in your `Share.prototype.network_twitter`

[2015-06-13 15:39] hhsnopek commented on #167
Hey, @TaqiOfficial - we've been looking into this. If you find anymore like the twitter one, let us know! Otherwise in v1.0.0 we're going to have the option to load a platforms JS lib for this and other functionality

[2015-06-13 15:51] TaqiOfficial commented on #167
I am also working on it, As I have no prior exp. contributing to git repo via pull, merge etc. so i will share my code here, else I will contribute to this repo.

[2015-06-15 14:53] hhsnopek opened #170 "jspm usage"
Any thoughts on using [jspm](//jspm.io)?

We could completely remove gulp the project have a `Makefile` or use an npm script to build the project. our command would be (one ugly line):
`rm -fr dist; mkdir -p dist; jspm bundle-sfx src/share.js dist/ShareButton.js; uglifyjs dist/ShareButton.js -o dist/ShareButton.min.js`

[2015-06-15 15:21] hhsnopek commented on #170
cc @pablaber @tmilewski @kylemac

[2015-06-20 09:13] t0t opened #180 "Cannot read property 'querySelector' of undefined"
Hello,
I got this. Any suggestion?
thanks.
![captura de pantalla 2015-06-20 a las 11 26 03](https://cloud.githubusercontent.com/assets/6004806/8266701/3d3bcef0-173d-11e5-94f8-7078aa6ca5d6.png)

[2015-06-22 13:44] hhsnopek commented on #180
I replicated as best I could locally with your and I'm surprised you didn't get this:
[code]

[2015-06-22 13:50] hhsnopek commented on #180
When are you requiring this script? If it's before the `body` loads, this could be the problem. I recommend moving the any js script to the end of the `body` element

[2015-06-24 12:30] #180 closed

[2015-06-26 13:18] cocovan opened #186 "Multiple Shares on one page - only last instance is actually showing the networks on click of the button"
I have a list of items laid out in a Bootstrap grid. For each one, I want to have a share button so I'm creating a new Share for each item passing in the ID of the empty div. The Share buttons are created and on click, I do see the active class being added and removed and the correct calls, but the flyout never appears, apart from the final one.

I've created a fiddle showing the issue - https://j

[2015-06-26 14:09] hhsnopek commented on #186
Hey @cocovan - Here's the updated jsfiddle: https://jsfiddle.net/a4wq79ev/1/

I spotted a couple problems, but the share-button is working in your jsfiddle. Within your config object you are listing the networks outside of the `networks object`, which causes share-button to not apply those. Also your grid that you're using is hiding the share-buttons, because of overflow. In my fiddle I have chang

[2015-06-26 14:13] cocovan commented on #186
@hhsnopek - thanks, Henry. What a numpty I am with the config object thing. Sorry about that.

And nice spot with the overflow - I was wondering if it was CSS that was causing me the difficulties.

Thanks again and it's a lovely wee bit of code this.

[2015-06-26 14:13] #186 closed

[2015-06-26 14:45] hhsnopek commented on #186
no problem! :)

[2015-06-26 15:29] hhsnopek opened #187 "v1.0.0 email button tag"
Make email button an `a` tag and update href attribute. This improves the UX so that a window isn't created, as nothing is held within the window.

[2015-07-01 23:29] leemarcus27 opened #191 "Network Hooks"
I'm trying to set network hooks with the share button. Facebook is the only one that works when loading the data  elements.

new Share(".share-button", {
        ui: {
        flyout: "top center",
        button_text: "Share"
      },
  networks: {
    facebook: {
        app_id: "1582499538701972",
      before: function(element) {
        this.title = element.getAttribute("data-title");

[2015-07-02 18:09] hhsnopek commented on #187
add in #169

[2015-07-02 18:09] #187 closed

[2015-07-03 09:06] ragsnas opened #192 "facebook share returns error"
I tried to implement your share Button yet it seems it does not work with the SDK for some reason.
[Here's the plunkr](http://plnkr.co/edit/mm8qfWlZ04ZpWLApAhCd?p=preview).

So it calls this url:
https://www.facebook.com/dialog/feed?app_id=1574474959507293&caption=caption&description=description&display=popup&e2e=%7B%7D&link=http%3A%2F%2Frun.plnkr.co%2FiY96egGzcwP4eHed%2F&locale=en_US&name=testtit

[2015-07-05 19:29] Viriathus opened #193 "Rearrange order of icons"
Is there an option to rearrange the order of the social buttons. For example I'd like to have fb to come 1st then twiiter, gplus, pinterest.
Thanks!

[2015-07-05 20:10] hhsnopek commented on #193
Currently there isn't, but I think this is a good feature - we'll get this in v1.0.x

[2015-07-05 20:17] Viriathus commented on #193
Cool thank you!

[2015-07-06 13:59] hhsnopek commented on #148
@marvoh how were you testing this?

[2015-07-06 20:54] hhsnopek commented on #161
After investigating twitter cards, to use these you must be allow the TwitterBot to access your site, more specifically your link. see https://dev.twitter.com/cards/getting-started#crawling

Basically the TwitterBot will scan the site for the tags and grab the twitter card info via the meta tags (`og` or `twitter`). So long as you're testing this on a site that is live and you are allowing the Twi

[2015-07-15 01:06] brandones opened #197 "Use as static row of buttons"
I'd like to just show the row of share buttons, rather than having to click the "Share" button to reveal it. Having a config option to do this would be great.

[2015-07-15 14:05] kylemac commented on #197
@brandones surprisingly enough, this is actually against our original intention of the `share-button`. we were tired of the spattered share buttons one all of these sites and wanted to see if we could make a little cleaner and more concise solution to the sharing problem.

that said, we don't deny that there are use-cases out there to display the buttons on their own. while we may not prioritize t

[2015-07-15 14:05] #197 closed

[2015-07-17 04:11] thanitpongk opened #198 "Share problem"
Thanks for the great plugin! but i've some error when share
I fix code about image , title but when i share with facebook the image wasn't change

[2015-07-18 23:32] chiragchoudhary66 opened #199 "Email not working in Safari [ only iPhone ]"
Sharing through email doesn't seem to be working in safari on the iPhones (tested on iphone 5 and 4). It simply opens a new tab and stops instead of opening the mail app. Works fine on the iPads as well.

[2015-07-20 06:09] chiragchoudhary66 commented on #199
Found the fix for the issue --> Change the name attribute in the window.open function to "_self".

so change this :+1:

window.open(t+i,"targetwindow","toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left="+n.left+",top="+n.top+",width="+n.width+",height="+n.height)

to this :

window.open(t+i,"_self","toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=ye

[2015-07-22 05:47] brandones commented on #197
Hack for those interested:

JS:
[code]

CSS:
[code]

[2015-07-22 13:31] kylemac commented on #197
much appreciated @brandones. I'm sure others will find this helpful

[2015-07-26 23:29] HJThompson commented on #192
+1

[2015-07-29 09:09] paramsinghvc opened #201 "Pinterest Invalid Image URI"
When I hit the pinterest share button, it shows me a popup with invalid image URI on the demo page itself. Also, on my local implementation, its showing the same error.
![screen shot 2015-07-29 at 2 31 01 pm](https://cloud.githubusercontent.com/assets/4329912/8953849/17fb7628-35ff-11e5-8087-feec7aa5db51.png)

[2015-07-29 12:43] kylemac commented on #201
@paramsinghvc can you share the URL that's being generated please?

[2015-07-29 18:17] jebsky commented on #154
@vigna From what you posted I am not entirely sure how to get newlines to work in the email

[2015-07-29 18:29] vigna commented on #154
I think the basic point was to remove the "is_encoded" from

                ShareUtils.prototype.encode = function(str) {
                        if (typeof str === "undefined") {
                                return str;
                        } else {
                                return str.to_rfc3986();
                        }
                };

but the problem is that now the source

[2015-08-06 18:36] #110 closed

[2015-08-06 18:36] #159 closed

[2015-08-06 18:36] #160 closed

[2015-08-11 08:34] AntonRand opened #203 "Cleaner way to default all networks to false"
I'd only like to have options to share with Google+, Facebook and Twitter.

I have to set enabled on all of the other networks to be false, but if a new network was added I'd have to update my configuration.

![image](https://cloud.githubusercontent.com/assets/3882274/9193504/cf5ff15c-400b-11e5-8a0f-727df202e9a8.png)

Can we set enabled to be false by default through the configuration so we only t

[2015-08-12 13:00] AntonRand opened #204 "button_text configuration parameter ignored"
My web page is multi-lingual and as a result I want to dynamically set the button text. I've used the 'button_text' parameter as described in the wiki configuration documentation but the text remains set to Share.

![image](https://cloud.githubusercontent.com/assets/3882274/9224440/3c604a88-40fa-11e5-9b2c-4da784a84052.png)

[2015-08-12 13:26] AntonRand commented on #204
Just looked at the source code, the Wiki is not referring to the correct parameters:

Should be buttonText and not button_text

I've updated the Wiki.

[2015-08-12 13:26] #204 closed

[2015-08-12 22:10] tmilewski commented on #204
Sorry and thanks @AntonRand!

[2015-08-18 16:10] FrankSalad opened #206 "Release link broken"
On the share-button master branch, the link under Getting Started: Download the script and include it on your page. points to a v1.0.0 tag that doesn't exist.

[2015-08-18 16:11] FrankSalad opened #207 "Share button on sharebutton.co not updated"
It's using an old version of the library.

[2015-08-28 16:01] mbalders opened #211 "Firefox / IE"
Can't seem to get icons/svgs to work in Firefox or IE. Are they still pulled in by Entypo font?

[2015-08-30 11:19] yosefs opened #212 "bower version not updated"
bower version id 0.5 instead 1.*.* the current version

[2015-08-30 11:28] yosefs opened #213 "Download the script - broken link in README"

[2015-08-30 11:29] yosefs opened #214 "DEMO is not updated : not current version 1.*.* (some version before)"

[2015-08-30 11:56] yosefs opened #215 "add to README.mb explanation of facebook app_id purpose in that plugin."
if facebook app_id wrong - the plugin will still works? if not can be added some code to able that?
Thanks

[2015-08-30 23:28] Kasendwa commented on #192
That is actually happening to me too. However, i've realized that happens only to accounts that haven't authorized the application.

[2015-09-11 16:23] assortex commented on #192
+ 1

Also, I would like to have this upgraded to the new version of the sharer. More info: http://okaypl.us/blog/facebook-share-dialog-longer-accepts-custom-parameters/

[2015-09-17 10:45] mahemoff opened #219 "Not rendering SVG"
I did a standard install with CSS and JS (no Entypo as I don't think it's necessary anymore?) and no config options.

The share button pops up without icons:
![](http://i.imgur.com/gPXlukc.jpg)

I'm seeing errors like this in devtools:
![](http://i.imgur.com/b3xM1SI.jpg)

[2015-09-17 14:07] gurumark commented on #219
+1

[2015-09-17 14:14] hhsnopek commented on #219
Which browser is this in?

--
Henry Snopek

On Thu, Sep 17, 2015 at 9:07 AM, gurumark <notifications@github.com>
wrote:

[2015-09-17 14:15] gurumark commented on #219
Firefox 40.0.3 on OSX 10.10

[2015-09-18 02:33] mahemoff commented on #219
Chrome stable too (M45)

[2015-09-18 02:58] hhsnopek commented on #219
when you hover over the icon what's the message? I'm currently looking at master with Chrome (45.0.2454.93 ) and Canary (47.0.2511.3 canary) and both render this properly. However in Firefox (40.0.3) and FireFoxDeveloperEdition (42.0a2 (2015-08-18)) it isn't, after doing some research in firefox they do not support the "#" unless encoded as "%23". Also didn't realize that <= IE11 the whole string

[2015-09-18 03:29] mahemoff commented on #219
"Invalid property value".

Is there a working demo? As the linked one at http://sharebutton.co/ I think is using the old Entypo model.

[Here's a JSBin illustrating the problem](http://jsbin.com/weluzi/1/edit?html,css,output)

![](https://i.imgur.com/Ft2u7oW.jpg)

[2015-09-18 05:29] mahemoff commented on #219
Actually it may be related to the use of double-quotes.

The JSBin does work once I fixed up quote marks (the background property is valid though I can't see it in the web page). http://jsbin.com/weluzi/3/edit?html,css,output

Likewise, in the [CSS](https://github.com/carrot/share-button/blob/20bda0323be187d463dca04af4f7e00caf9978eb/dist/styles.css#L235), it looks like double-quotes are nested, I

[2015-09-18 05:40] mahemoff commented on #219
Yes, that fixed it! I simply changed the surrounding double-quotes to single quotes, ie from `url("data ... </svg>") to `url('data ... </svg>')`.

I see the Stylus already contains single-quotes, but the CSS in dist/ uses double-quotes?

[2015-09-18 08:24] hhsnopek commented on #219
Yeah so only compile stylus changes this over, not sure why

--
Henry Snopek

On Fri, Sep 18, 2015 at 12:40 AM, Michael Mahemoff
<notifications@github.com> wrote:

[2015-09-18 13:18] suraleb opened #220 "googlePlus"
googlePlus: {
                            before: function(element) {
                                this.url = $(element).attr('data-url');
                            }
                        }

Its dont return right address to google!

[2015-09-18 17:46] hhsnopek commented on #219
Excuse the strange grammer, it was pretty late when I sent that. Basically stylus is processing the single quotes into double quotes. Locally when I was adjusting styles, encoding the `#` within the color made it viewable again. ![facebook fixed](https://cldup.com/X8R8egsizb.png) in the compiled source everything is still double quoted.  As the quotes are [technically optional](http://www.w3.org/T

[2015-09-18 17:58] hhsnopek commented on #211
related to #219

[2015-09-19 16:04] ncksllvn opened #221 "Wrong Pioneer Version"
I tried to install share-button via NPM and encountered this error:

`npm ERR! version not found: pioneer@1.11.5`

I believe this version was specified in the package.json by mistake because the highest version of Pioneer is 0.11.6.

[2015-09-19 16:06] ncksllvn commented on #221
Added PR #222

[2015-09-19 16:32] ncksllvn commented on #221
Also, shouldn't Pioneer be a devDependency instead of a standard dependency?

[2015-09-19 16:34] ncksllvn commented on #221
I opened PR #223 to include the latest version of Pioneer and it installed fine through NPM.

[2015-09-21 03:30] mahemoff commented on #221
+1

[2015-09-21 08:15] cawa-93 opened #225 "I have a question: How do you user FB.ui for open new window?"
In your example you are using the FB.ui method and you have a new window opens with URL:
`https://www.facebook.com/dialog/feed?app_id=...`

![2015-09-21 11 14 04](https://cloud.githubusercontent.com/assets/1662812/9987599/e625dcd8-6051-11e5-9208-fa79009db1d3.png)

I tried to make the same realization on his website, but instead of a new window I get an interactive element #fb-root

![2015-09-21 11

[2015-09-21 19:25] hafi86 commented on #219
hey, i was having the same problem, i finally was able to solve it with those two changes:
1. converting all "data...." into single quote, like you guys suggested (thanks!), but that wasn't enough in my case, so i got to stage 2:
2. adding
  top:12px;
  left:30px;
in the same css file, to the class "share-button .sb-social ul li:before,
share-button .sb-social ul li:after"

only than the icons app

[2015-09-22 14:57] mahemoff commented on #219
@hafi86 Strange; I have it [in production now](https://player.fm/series/this-week-in-tech-mp3) using only the single-quote change.

[2015-09-22 14:59] mahemoff commented on #219
BTW I'm leaving this open though maybe only a patch to stylus would fix it? (short of a hacky post-processing string replace)

[2015-09-22 15:02] hhsnopek commented on #219
I'm thinking of switching the preprocessor (stylus) of to postcss or just creating a mixin to overwrite 'url()' which would then use JavaScript to remove quotes and encode the string with 'encodeComponentURI()'.

--
Henry Snopek

On Tue, Sep 22, 2015 at 9:59 AM, Michael Mahemoff
<notifications@github.com> wrote:

[2015-09-22 19:54] hhsnopek commented on #219
got stylus and jade mixed up, your right it would have to use a post processing hack... I'm thinking of just moving this into postcss now

[2015-09-23 10:10] malleshdoddi opened #226 "About social icons"
icons are not displaying in firefox. Icon image links are returning nothing....please provide an updated one,...thank you in advance....

[2015-09-23 19:58] hafi86 commented on #219
Yes, i find it strange too, but changing to signle-quote only helped for the icon on the button itself (the one that shows on the button before clicking 'share'), not sure why.
Thank you for your help.

[2015-09-24 01:55] hhsnopek commented on #219
I have a fix locally for this, I'll get this up within the next couple hours

[2015-09-24 03:14] #221 closed

[2015-09-24 03:16] mahemoff commented on #226
Probably the issue in #219

[2015-09-24 03:20] mahemoff commented on #225
I'm curious why you don't want the interactive element? I see the opposite - it starts to expand the interactive element and then it opens a new window instead.

I haven't investigated, but I'm guessing it may depend on how you've configured your app's settings in Facebook's dashboard. For security reasons, you might need to indicate the domain(s) where you'll embed this.

[2015-09-24 12:54] malleshdoddi opened #228 "share button not displaying in IE 8, 9"
Share Button is not displaying in Internet Explorer 8 , 9 and 10.

[2015-09-24 17:38] hhsnopek commented on #228
this should be fixed in #227

[2015-09-24 17:49] hhsnopek commented on #219
@mahemoff wanna take a look at #227 before I merge?

[2015-09-27 19:12] raulhuelamo commented on #219
Hi guys, I had issues today with SVG in Firefox (I started using the plugin yesterday), reviewed the quotation fix method and didn't work.
I found this solution in StackOverflow (http://stackoverflow.com/a/21626701) that actually makes the whole sense, removing every problem related with quotations just doing some pre-process with the SVG code (Base64 encoding).
It worked like a charm for me, so I

[2015-09-28 20:08] #211 closed

[2015-09-28 20:08] #219 closed

[2015-09-28 20:08] #226 closed

[2015-09-29 22:04] CostaC opened #230 "Demo page using old version of code?"
Any reason http://sharebutton.co/ uses an older version of the code? And it uses

[code]
instead of  `new ShareButton`.

I ask because while I can get the email popup to appear is I use the js file from sharebutton.co, I can't get the popup to appear with the latest code.

[2015-09-29 22:10] hhsnopek commented on #230
Yeah I'm actually working on that right now! I apologize for the confusion, it is `new ShareButton` - I'll have these changes up tonight hopefully

[2015-09-29 22:14] CostaC commented on #230
FYI, found these that still use old function name:

https://github.com/carrot/share-button/wiki/Network-Hooks
https://github.com/carrot/share-button/wiki/Network-Hooks
https://github.com/carrot/share-button/blob/master/examples.html

[2015-09-29 22:14] hhsnopek commented on #230
The wiki will be disabled after the update tonight as I'll have a folder containing all the docs and references to the code

[2015-10-01 14:20] Chrysweel commented on #230
:+1:

[2015-10-05 19:01] allybee opened #232 "Error when defining `new ShareButton(element)`"
When attempting to attach ShareButton to a specific element, I get the error:
[ShareButton.js:862](https://github.com/carrot/share-button/blob/master/dist/ShareButton.js#L862) ```Uncaught TypeError: instances[Symbol.iterator] is not a function```

Without being able to define which element to attach to, you can't have multiple share buttons with separate configurations.

[code]

[2015-10-06 00:33] hhsnopek commented on #232
Hey @allybee what browser are you using?

[2015-10-06 00:44] allybee commented on #232
Oops, should have included that! Chrome for Mac v45.0.2454.101 (64-bit)

[2015-10-09 00:36] #232 closed

[2015-10-09 02:52] allybee commented on #232
@hhsnopek Thank you so much! I've tested it and it works great.

[2015-10-09 03:28] macsupport opened #234 "Example fails. No dist folder"
Missing dist folder? index.html references ````<link href="dist/share-button.min.css" rel="stylesheet">```` but dist is not in the repo.

[2015-10-09 03:38] hhsnopek commented on #234
Yup, we've removed the `dist` folder from the repo - I'm getting a couple more things into master before I cut a release!

[2015-10-09 03:38] hhsnopek commented on #232
@allybee no problem! I'll be cutting a release shortly as well

[2015-10-11 00:08] macsupport commented on #234
OK. A bit confusing to download and not have the css file included in the zip.

[2015-10-11 00:22] hhsnopek commented on #234
It is, but take a look at the releases and download the versioned release, this contains the 'dist' with everything compiled in it. We also have the last files separately under the latest release. We keep the compiled files out of the repo to keep everything a bit more tidy

--
Henry Snopek

On Sat, Oct 10, 2015 at 7:08 PM, Mike Sozanski <notifications@github.com>
wrote:

[2015-10-11 14:53] dkleissa opened #237 "Release 1.0.2 share-button.min.css file has local link to google font"
in share-button.min.css the font url(../../Users/henrysnopek/projects/share-button/http:/fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) included which causes an error.

If you delete the local part and fix the url to https:// (in my case) it works.

[2015-10-12 01:05] hhsnopek commented on #237
Yeah this is odd and I think I've come upon it in the past, in the stylus file it is marked as https, which it was previously just // for the protocol. I'll have to take a closer look this week.

--
Henry Snopek

On Sun, Oct 11, 2015 at 9:53 AM, Dean Kleissas <notifications@github.com>
wrote:

[2015-10-12 22:42] hhsnopek commented on #230
no longer an issue! :)

[2015-10-12 22:42] #230 closed

[2015-10-12 22:42] hhsnopek commented on #214
now it is :D

[2015-10-12 22:42] #214 closed

[2015-10-12 22:44] hhsnopek commented on #212
with the latest release "tagged", you'll be installing 1.0.2 now :)

[2015-10-12 22:44] hhsnopek commented on #206
moved the link to just point to releases

[2015-10-12 22:44] #206 closed

[2015-10-12 22:45] hhsnopek commented on #207
it is as of this past weekend everything is up to date :)

[2015-10-12 22:45] #207 closed

[2015-10-12 22:46] hhsnopek commented on #193
available in current release :)

[2015-10-12 22:46] #193 closed

[2015-10-12 22:46] hhsnopek commented on #108
see explanation of closure in #109

[2015-10-12 22:46] #108 closed

[2015-10-12 22:47] hhsnopek commented on #99
it is now possible! just exclude the stylesheet!

[2015-10-12 22:47] #99 closed

[2015-10-12 22:47] hhsnopek commented on #213
fixed :)

[2015-10-12 22:47] #213 closed

[2015-10-12 22:48] #234 closed

[2015-10-12 22:49] hhsnopek commented on #191
Checkout the latest version :) this should be fixed

[2015-10-12 22:49] #191 closed

[2015-10-12 23:34] hhsnopek commented on #166
does this still persist?

[2015-10-13 18:32] jeveloper commented on #212
Reopen this or i can make another one, in 1.0.2 you removed dist from repo, hence using bower will not work.

[2015-10-13 18:57] hhsnopek commented on #212
@jeveloper

[2015-10-14 14:12] jeveloper commented on #212
@hhsnopek First of all, thank you for your good work !

I did make it work in my requirejs environment , but as you know bower libs needs to be shipped with both non min and min versions of a distribution, that way it works well. However i understand why you chose a different path, its a lib that has to be minimal.

[2015-10-14 14:52] hhsnopek commented on #212
Thank you @jeveloper - I've figured out how this is going to be handled and hopefully will have it up later today, if not this weekend

[2015-10-14 15:43] Chrysweel opened #238 "[Styles] I cannot see all box"
Hello.

I want use this library, but I found an error with styles by default. Somebody can help me ?

I use Bootstrap and I have two columns
[code]
And on the left, I dont see the box of pinterest, twitter and facebook.

![share-button](https://cloud.githubusercontent.com/assets/1416870/10487773/f30221ea-7295-11e5-8fc1-66126ae488cf.png)
![share-button-div](https://cloud.githubusercontent.com/asset

[2015-10-15 07:50] Chrysweel commented on #237
Hello.

I have the same problem.

[2015-10-15 08:09] Chrysweel opened #240 "Can we change text of button ?"
I want translate the word "Share" but I dont know change the text.

I see in code:

https://github.com/carrot/share-button/blob/master/src/share-button.js#L41

Also I see the pull request https://github.com/carrot/share-button/issues/35

But I dont find option button_text... any idea ?

[2015-10-15 14:06] hhsnopek commented on #240
buttonText is where you can update the text of the button, that issue is prior to 1.0.x

--
Henry Snopek

On Thu, Oct 15, 2015 at 3:09 AM, Chrysweel <notifications@github.com>
wrote:

[2015-10-15 17:24] hhsnopek commented on #237
So this is only present in the minified version, still looking into why this occurs

[2015-10-15 18:25] Bdiang opened #241 "No button text when first time open"
Tested at work and home on FF and Chrome. First time - no button text and icons doesn't appear on click. Also there is lag between page loading and button text showing up when press ctrl+f5. Although on localhost there is no lag.
![2015-10-15 22-46-22 2](https://cloud.githubusercontent.com/assets/1962493/10523468/019fa1c4-7394-11e5-9a21-788177178aea.png)

[2015-10-15 18:33] hhsnopek commented on #241
Is occurring on sharebutton.co and `index.html` located in the root of the project or just within a personal/work project?

[2015-10-15 18:53] #241 closed

[2015-10-15 18:54] Bdiang commented on #241
That was because slow hosting.

[2015-10-15 19:06] hhsnopek commented on #237
figured out the issue and looking into alternatives and fixes

[2015-10-15 19:26] hhsnopek commented on #241
:+1:

[2015-10-15 20:06] Chrysweel commented on #240
Hello @hhsnopek thanks for answering!

I have the last version and I tried use buttonText parameter, but it doesnot work... any idea ?

[2015-10-15 20:07] Chrysweel commented on #237
:+1:

[2015-10-15 20:44] hhsnopek commented on #240
I've just tested this locally with the latest build, 1.0.2, and it's working.
How are you passing the buttonText parameter?

Here's a reference to the usage of `buttonText`: https://github.com/carrot/share-button/blob/master/tests/fixtures/ui.html#L29

[2015-10-15 20:49] hhsnopek commented on #238
This would be due to Bootstrap, I would first make sure you're using the latest release of share-button (1.0.2). Then once you've done that you'll want to reset the `line-height` of the parent to `share-button` to be `1em1 so that the export icon is vertically centered. To fix the overflow you can do a couple things, depending on the width of the screen and container you could have the networks di

[2015-10-15 20:49] #238 closed

[2015-10-15 20:51] hhsnopek commented on #228
closing until it is reported as not fixed

[2015-10-15 20:51] #228 closed

[2015-10-15 20:57] hhsnopek commented on #220
Could you provide more information? If possible the full options object you're passing, as well `element` is a reference to the `share-button` instance that is clicked, not the network clicked

[2015-10-15 20:58] hhsnopek commented on #199
confirmed bug, does your fix also work on desktop still and other browsers?

[2015-10-15 21:11] hhsnopek commented on #198
Could you provide more information? If I could see the `html` document as well as the options you're passing into the ShareButton object that would help a lot with debugging your issue

[2015-10-15 21:14] hhsnopek commented on #203
The only thing I have against this is those that use all the networks and/or disable one or two networks. Either way one is going to have a verbose object, I'm personally against this unless a majority of users are disabling a lot of the networks.

[2015-10-15 21:14] #203 closed

[2015-10-15 21:16] hhsnopek commented on #215
facebook app_id is there if you're going to be using Facebooks SDK along with the sharebutton. Would you be able to clarify your second question?

[2015-10-22 02:09] acrogenesis commented on #240
[code]

[2015-10-22 15:22] hhsnopek commented on #240
@acrogenesis the code you gave me works correctly for me. Whats the error that's being thrown if there is one?
![acrogenesis code example](https://cldup.com/wV-4Ebw_c4.png)

[2015-10-22 15:27] hhsnopek commented on #192
@ragsnas & @HJThompson have you tried authorizing your app then using the SDK again?

[2015-10-22 15:29] hhsnopek commented on #166
Looking thru your code again, you have `caption: null` - just leave this as a blank string or don't add a value to it and it shouldn't error out.

[2015-10-22 15:29] #166 closed

[2015-10-22 15:30] hhsnopek commented on #201
@paramsinghvc is this still an issue or was it resolved? the URL's are encoded properly. Please reopen this if it's still occurring.

[2015-10-22 15:30] #201 closed

[2015-10-22 15:31] hhsnopek commented on #198
Closing due to inactivity. Please reopen if need be :)

[2015-10-22 15:31] #198 closed

[2015-10-22 15:33] hhsnopek commented on #220
Closing due to inactivity, please reopen with more information :)

[2015-10-22 15:33] #220 closed

[2015-10-22 15:33] hhsnopek commented on #237
The fix for this is ugly, but I'll implement it later today :)

[2015-10-22 15:36] hhsnopek commented on #225
@mahemoff is on the right track, I'm personally not familiar enough with the Facebook SDK/dashboard to provide more help but definitely start looking there. The sharebutton just uses the SDK if provided, take a look at the settings from facebook.

[2015-10-22 15:36] #225 closed

[2015-10-22 15:52] hhsnopek opened #243 "Update Docs"
Verify docs are up to date with code.

[2015-10-22 15:55] hhsnopek commented on #161
You just need to have the og tags or the twitter meta tags while allowing the twitter bot to crawl your site and you'll be able to use twitter meta cards.

[2015-10-22 15:55] #161 closed

[2015-10-23 07:04] VyacheslavAlexeev opened #244 "How to change buttons order?"

[2015-10-23 14:36] hhsnopek commented on #244
see: [tests/fixtures/ordering.html](https://github.com/carrot/share-button/blob/master/tests/fixtures/ordering.html)
You specify the networks classname, if you only specify 3 (like in the example) only 3 will be displayed. Otherwise this will order your networks so long you pass all network classes in.

[2015-10-23 14:36] #244 closed

[2015-10-23 16:34] acrogenesis commented on #240
@hhsnopek I don't see any error.

[2015-10-23 16:35] hhsnopek commented on #240
can I get a screenshot of your button?

[2015-10-25 19:48] hhsnopek commented on #240
@acrogenesis Ohhh. Sorry and Thank you!!! I'm going to close this out unless @Chrysweel has anymore questions?

[2015-10-26 07:33] Chrysweel commented on #240
@hhsnopek no thanks ! :)

[2015-10-26 07:33] #240 closed

[2015-10-29 14:48] safareli opened #245 "what if i want to use `button` tag?"
what if i want to use a `button` tag instead of `share-button` what can i do?

[2015-10-29 15:01] hhsnopek commented on #245
You are able to use a class and pass the class name as the first argument into the share button. Just wondering, why don't you want to use the share-button element?

--
Henry Snopek

On Thu, Oct 29, 2015 at 9:48 AM, Irakli Safareli <notifications@github.com>
wrote:

[2015-10-29 15:02] hhsnopek commented on #245
Also because you're not using the share-button element you'll have to modify the style sheet as it looks for that element rather than a class

--
Henry Snopek

On Thu, Oct 29, 2015 at 9:48 AM, Irakli Safareli <notifications@github.com>
wrote:

[2015-10-29 17:39] safareli commented on #245
I think better way would be to apply styles using class selector like `.share-button` or whatever and on javascript side don't use that tag  just select elements with class selector like `.js-share-button`. for example I wanted to use it on div element because i was using React and couldn't accomplish my coule without editing this library. or what if someone wants to use button element for accessi

[2015-10-29 17:49] hhsnopek commented on #245
With react you should still be able to use a [custom element](http://addyosmani.com/blog/component-interop-with-react-and-custom-elements/). Otherwise regarding accessibility, I believe any custom element is recognized as a div. You can use a class as specified before, just change `share-button` in the stylus file to `.you-custom-class`.

[2015-10-29 17:59] safareli commented on #245
you cant use div element and just path selector because of this line
https://github.com/carrot/share-button/blob/v1.0.2/src/share-button.js#L165

and you cant path some specific dom node because it will think that it's a configuration object
https://github.com/carrot/share-button/blob/v1.0.2/src/share-button.js#L19

 think there should be way to:
  - pass dom node as an element to `ShareButton`

[2015-10-29 21:19] hhsnopek commented on #245
Oh yeah, totally forgot we did that. You're correct we don't allow just class/div's anymore because a custom tag is less complex. Excuse myself from earlier, didn't have my :coffee: yet. Otherwise @declandewet helped me out with his react knowledge and created an [example](http://codepen.io/declandewet/pen/xwzZWE) which uses the latest release.

[2015-10-30 08:06] safareli commented on #245
I'm using it on server and it doesn't works as expected https://gist.github.com/safareli/5e2a99b2fec9420ca608

But the point is that one should be able to
  - pass dom node as an element to `ShareButton`
  - use any html element with some predefined class and
  - use custom html in share button (in case someone wants to use some other icon or multiple icons for example and or whatever)

that you t

[2015-11-02 14:50] MikeQuaci opened #246 "Add browserify support"
The library can't be imported using browserify.

If we require the main js as ```
require('../components/share-button/src/share-button.js'); ``` and build our source with browserify we get this error:
[code]

[2015-11-02 14:54] hhsnopek commented on #246
@MikeQuaci you'll need to require the `dist` build located here: `share-button/dist/share-button.js`. This is because the source is written with es2015 and requires polyfills to transpile

[2015-11-02 15:01] MikeQuaci commented on #246
Thanks for the quick reply! So we have to build the project? I have installed share-button using bower

[2015-11-02 15:05] hhsnopek commented on #246
At the moment yes, see #212 - I've been meaning to get around to a couple issues, this would be one of them. Give me a moment

[2015-11-02 15:38] MikeQuaci commented on #246
Ok, I managed to make it work building the project and using those sources. I think you should add the build folder to the repository.
You should also add the build script to your package.json scripts section, so everyone can build it easily using ```npm run build ```

[code]

[2015-11-02 15:42] hhsnopek commented on #246
I personally don't like having the compiled files clogging up the git history as well there's been issues in the past when someone will forget to compile and push the latest changes up with their PR. Removing them from the repo allows us to resolve both issues. Regarding the npm scripts, I'd have to add `gulp unbuild` as well, do you have any reasoning for add them to the npm script? Is it more of

[2015-11-02 16:11] hhsnopek commented on #246
pending the ability to publish to bower thru authorship, bower will be updated hopefully by EOD.

[2015-11-02 16:11] #246 closed

[2015-11-02 16:11] hhsnopek commented on #212
pending the ability to publish to bower thru authorship, bower will be updated hopefully by EOD.

[2015-11-02 16:11] hhsnopek commented on #237
fixed in latest release

[2015-11-02 16:11] #237 closed

[2015-11-02 16:36] MikeQuaci commented on #246
Having the build scripts in the scripts section allows npm to automatically set up $PATH to look in node_modules/.bin. So all the dependencies (also the dev one) will be in the $PATH.  In short: Users do not have to look into the code to find how to build the project, then install gulp globally and run gulp build. For more infos see this [blog post](http://substack.net/task_automation_with_npm_run

[2015-11-02 16:39] hhsnopek commented on #246
@MikeQuaci if you want to create a PR for the npm scripts that'd be great :)
That's exactly what I did for share-button (jquery shim), I'm just need author access to share-button as the original author isn't available :smile:

[2015-11-02 17:11] MikeQuaci commented on #246
@hhsnopek  PR created https://github.com/carrot/share-button/pull/248

[2015-11-02 17:29] hhsnopek commented on #246
:+1: I'll merge it in at lunch

--
Henry Snopek

On Mon, Nov 2, 2015 at 11:11 AM, MikeQuaci <notifications@github.com>
wrote:

[2015-11-02 22:10] arisAlexis opened #249 "only facebook doesn't work with custom title,description"
new ShareButton({
            url:'http://lala',
            title:'custom',
            description:'custom descr',
              networks: {
                facebook: {
                  app_id: appConfig.facebookId,
                  load_sdk:true
                }
            },
        });

I don't understand why the correct title and description works for all networks except for facebook. An

[2015-11-03 00:47] hhsnopek commented on #212
updated and working!

[2015-11-03 00:47] #212 closed

[2015-11-03 00:49] hhsnopek commented on #249
With the Facebook SDK make sure your permissions are properly set on your facebook app dashboard. Similar issues have come up in the past with the sdk and share-button, also it might be worth adding the title/description as `meta` tags to that page so `share-button` grabs from their and all web crawlers can access the same information you're passing into the config object.

[2015-11-03 01:10] hhsnopek commented on #245
I'm unfortunately unable to debug the provided code without having the client side code as well. I'm not familiar enough with your code to fully debug it. If you provide more code I can dig further into the issue though.

Alright to touch on your points:

No longer needed because Custom Tags have been available since HTML 4 and act like standard `div` when styling. With more recent technology, lik

[2015-11-03 07:39] safareli commented on #245
ok whatever

[2015-11-03 07:39] #245 closed

[2015-11-03 08:18] arisAlexis commented on #249
Which persmissions exactly do I need to change on the facebook dashboard?

I am implementing a list of products each one of them with it's unique title and description that's why I am not using the open graph meta tags but hoped to do it with this software. Works ok for all networks though except fb so I won't give up yet!
Is there a problem because of the many instances with different titles,desc

[2015-11-03 09:23] littlee opened #250 "can not work in IE ?"
seems custom tag does not be supported IE

[2015-11-03 14:38] MikeQuaci opened #251 "Multiple share buttons with different urls"
There is any way to have multiple sharebuttons in a page with different urls? (use case: a page with multiple articles and you want to provide a share buttons for every single article)
It would be nice if it would be possible to add a data attribute to the <share-button> tag that overrides the default url defined in the configuration.

[2015-11-03 17:20] hhsnopek commented on #250
Hey @littlee could you provide which version of IE as well as the json object you're passing into the ShareButton instance?

[2015-11-04 03:36] littlee commented on #250
I just open the demo page in IE 11, but the button did not show up
![qq 20151104113519](https://cloud.githubusercontent.com/assets/7534668/10928932/3b496a3c-82e8-11e5-8b92-c7b48de68e70.png)

![qq 20151104113344](https://cloud.githubusercontent.com/assets/7534668/10928914/fb9fba30-82e7-11e5-88ef-7909eee0bf95.png)

[2015-11-04 12:24] almoral commented on #250
Hey I'm having the same issue with IE 11. This is the json that I'm passing in:

            var share = new ShareButton({
                networks: {
                    facebook: {
                        app_id: "650546101753984"
                    }
                }
            });
There are no error messages for me. It simply doesn't show up in the page.

[2015-11-04 12:33] almoral commented on #250
I found this online:

[Source Link](https://msdn.microsoft.com/en-us/library/ms531076(v=vs.85).aspx)

[2015-11-04 15:03] PjEdwards opened #252 "New release to bower eliminates previous versions"
Any project depending on a version other than 1.0.3 will experience `bower install` failure.

[2015-11-04 15:32] hhsnopek commented on #250
This is very uneasy considering that before I pushed to make the switch to using custom tags I tested `<share-button></share-button` on IE and everything rendered and worked properly, minus a few IE quirks in our stylesheet. I do need to look into this more, if anyone finds more references or helpful documents please add them to the thread

[2015-11-04 15:40] hhsnopek commented on #252
I can get around to this tonight, I'll get them all up for yah :+1:

[2015-11-04 15:49] almoral commented on #250
Unfortunately I'm not getting an error in IE 11. It simply doesn't appear. I do get one in IE 9 but that's because of the use of classList. I'm assuming you don't plan to support IE9.

[Here's a link to a test page.] (http://jacksonhealth.org/blog/test-fb.asp)

Maybe you'll have better luck and get an actual error message in IE.

[2015-11-04 15:51] hhsnopek commented on #250
If I recall the discussion correctly, the plan was support IE10 and higher

[2015-11-04 15:52] almoral commented on #250
That makes sense. This is still happening in IE11 for me though. I wish I could provide more information.

[2015-11-04 16:06] PjEdwards commented on #252
@hhsnopek Fantastic news! Thanks!

[2015-11-04 20:36] almoral commented on #250
I took a look at the styles that are being applied and display is set to 'none'. I'm looking through the code to see where that might be happening.

[2015-11-06 20:11] mmautner commented on #252
:+1: still not there :'(

[2015-11-06 20:12] hhsnopek commented on #252
totally forgot!! I'll try my best to get this done later today or tomorrow

[2015-11-09 12:46] Pirozek commented on #252
Please can you return the old repo back? I love your share button, but now I can't use it in my projects (i don't use 1.0.3 version)

[2015-11-09 14:29] hhsnopek commented on #252
Which version are you looking to pull down my plan is to just gave 1.0.x up therr

--
Henry Snopek

On Mon, Nov 9, 2015 at 6:46 AM, Pirozek <notifications@github.com> wrote:

[2015-11-09 14:35] Pirozek commented on #252
Well we are using 0.5 :) Updating to newer version is in TODO list :-D

[2015-11-09 15:29] PjEdwards commented on #252
Yeah..... :) we are on 0.4.3. Updating to newer version is on the TODO list

[2015-11-09 16:03] hhsnopek commented on #252
haha alright - I'll just get them all up

[2015-11-09 16:09] Pirozek commented on #252
Version 1+ is better, but for my legacy projects its like "Its working, dont touch it!", so I don't want to change it to newer button (self-preservation purposes :-D)

[2015-11-10 00:14] ehigz commented on #250
I was able to fix it by detecting whether it's IE using JS on my html page (index.html):
[code]
(source: https://support.microsoft.com/en-us/kb/167820)

and then modifying share-button.js like so:
[code]

[2015-11-10 16:41] almoral commented on #250
Yeah browser sniffing is not the best approach. I just fixed it by changing the line

     el.style.display = "initial"
to

    el.style.display = "inline-block"

No browser sniffing and it works everywhere I've tested.

[2015-11-10 18:54] hhsnopek commented on #250
This is great guys! @almoral which versions of IE does that work on?

[2015-11-11 07:07] changalberto opened #253 "close method doesn't work"

[2015-11-11 12:44] warch commented on #250
when does this change go live?

[2015-11-12 13:47] almoral commented on #250
Inline-block works everywhere. I had a second issue with IE in that you use classList. So I used the classList.js polyfill. With that polyfill in place and display set to 'inline-block', this works in IE 9 +.

[Here's a link to the polyfill.] (https://github.com/eligrey/classList.js/)

[2015-11-20 20:00] clayne11 opened #254 "Decouple the sharing service from the UI"
This package would be a lot more flexible if the UI was completely decoupled from the sharing service. I would love to be able to call new ShareButton(), have the config take in a "render" function for each network, and call that function to actually render the DOM elements for the given network.

It would then return the actual DOM element and allow me to insert that into the DOM myself. This wou

[2015-11-23 23:21] GuillermoCasanova opened #255 "Mail component not bringing up mail client"
Hi,

I recently integrated the share button in our site at drinktelula.com to share recipes posted on the site. The Facebook, Twitter, and G+ shares work quite well, however, the mail share does not. When clicked, nothing happens.

Another issue I'm having is that the Facebook component isn't getting any of my customization regarding the caption, title and image.

You can see the share button in a

[2015-11-24 16:50] GuillermoCasanova commented on #255
So after some digging into the source code, I managed to get the mail button to open up the mail client after removing this line "&& i.setAttribute("onclick", "return false")" in share-button.min.js.

Is this line necessary/what does it do?

[2015-11-24 17:40] GuillermoCasanova commented on #255
After some digging into the source code, I found this line (937) in share-button.js was causing the issue as it was returning both 'email' and 'enabled' classes:

if (network.className !== 'email') a.setAttribute('onclick', 'return false');

I replaced it with the line below so it targets only the first class of each 'network' element to compare it to 'email' and thus successfully not giving the e

[2015-11-26 11:26] duellsy commented on #255
:+1:

[2015-11-26 11:28] duellsy commented on #37
:+1:

[2015-11-27 16:44] rohanpatel2602 commented on #252
@hhsnopek Hey Henry, any update on this? I require 0.5.0 myself

[2015-11-30 16:07] Pirozek commented on #252
+1

[2015-12-01 16:52] juanitoddd commented on #251
I having the same question

[2015-12-02 09:21] vincent-guesnard opened #259 "Mignified files inside the main .tar.gz | comments format"
Hello,

Thank you for this amazing lib. Nice job.

1. Would you like to put your mignified version (css/js) inside the main archive for you next version please (inside a dist directory would be awesome) ?

2. For those who auto concatenate/compress librairies into a single JS (to reduce concurrents connection on our servers), you should prefer /* */ comment tags, instead of //. Else, the compiled

[2015-12-02 21:59] suleimana opened #260 ""mailto" does not work - potential bug (Confirmed Bug)"
I"m using the latest release "v1.0.3" and the email share does not work (nothing happens when you click). After some debugging I believe I found the issue.

The email link has a "return false" function on click, which should not be there:
[code]
at line [248](https://github.com/carrot/share-button/blob/master/src/share-button.js#L248) in share-button.js file , You have the following if statement
[

[2015-12-03 10:46] paramsinghvc opened #261 "Where has the dist folder disappeared??"
I can't find the dist folder anywhere

[2015-12-03 12:57] kylemac commented on #261
https://github.com/carrot/share-button-bower

[2015-12-05 15:38] vincent-guesnard commented on #250
Thank you for the tips, i edited my source too for 'inline-block' instead of 'initial', works fine now on IE 11.

I got another bug on IE9 when configuring your plugin like this :
var shareButton = new ShareButton({
            ui: {
                flyout: 'center bottom',
                buttonText: 'PARTAGER'
            },
            networks: {
                googlePlus: {enabled: true},

[2015-12-05 16:14] vincent-guesnard commented on #260
+1

[2015-12-05 16:17] vincent-guesnard opened #262 "Bug : Safari 5.1.17 failed to load SVG image inside CSS - 1.0.3"
Hello,

Test failed on Safari 5.1.17 for your version 1.0.3, each SVG image inside the CSS failed to load, resulting empty box.

Any idea ?

[2015-12-05 16:55] vincent-guesnard opened #263 "Bug : IE10/11 - images not centered - IE9 : Failed to load (configuration issue) - 1.0.3"
Hello,

I found one visual effect issue on IE10 and IE 11, social button aren't align into their respective boxes. (it seems that a left align is apply)

And a major issue on IE9, with a javascript crash when loading this configuration :

var shareButton = new ShareButton({
                    ui: {
                        flyout: 'center bottom',
                        buttonText: 'PARTAGER'

[2015-12-06 19:56] wil93 opened #265 "Share-button breaks my current js (I think because of String.prototype.toRFC3986)"
If I add share-button to my current app, I see a weird behavior and weird exceptions in the console.

Digging a bit, I found that I have a for loop like this:

    for (let i in s) {
        // do stuff
    }

And this loop iterates through all characters of the string `s`, however, there is apparently a moment when `i = "toRFC3986"`. This, obviously, makes my app launch exceptions.

I can't find

[2015-12-06 20:03] wil93 commented on #265
I confirm that the issue is to blame on share-button itself. To reproduce, go to http://sharebutton.co/ and type this in the javascript console:

    for (var i in "asd") { console.log(i); }

This is the expected output:

    0
    1
    2

This is the output I get:

    0
    1
    2
    toRFC3986
    capFLetter

[2015-12-06 20:16] wil93 commented on #265
I just discovered that the `for..in` syntax for array-like objects [is discouraged](http://stackoverflow.com/a/1885365/747654) for this reason, so I'll change my code. However, it would be nice if the library didn't add methods to standard classes (in order to have the least footprint possible :wink:)

[2015-12-07 16:21] aproxis commented on #251
I've combined sharing buttons this with infinite scroll on one of my Shopify projects.
Here's how it looks like:
[code]

and in html it looks like this:
[code]

[2015-12-10 00:36] DesignerX commented on #261
I have this same question ! After digging around I found this link
https://github.com/carrot/share-button/releases/tag/v1.0.3
But does that mean I need to download them manually ? then what's the point of github & bower? Any advice  would be great.

[2015-12-10 01:02] hhsnopek commented on #261
Hey @paramsinghvc and @DesignerX - we've removed the dist folders to keep the repo clean. I've been lacking to upload all previous versions of share-button to the link above. - tho you can still grab them from the release section :)

[2015-12-10 15:56] #261 closed

[2015-12-10 20:34] itwasmattgregg commented on #260
+1

[2015-12-11 12:22] paramsinghvc opened #266 "Sharing open the iframe but navigates to share page too"
When I share on any website, the iframe opens but during this my website behind it also takes the user to share page of the concerned website. Please help

![screen shot 2015-12-11 at 5 49 27 pm](https://cloud.githubusercontent.com/assets/4329912/11743696/9132fef4-a02f-11e5-9554-59152ce1cab0.png)

[2015-12-11 12:40] paramsinghvc commented on #266
Ok turns out I had changed the share.min.js to allow navigation as the Email sharing thing wasn't working. So, ok fixed but this leads me to another issue then, is there a fix for Email sharing then?

[2015-12-14 15:07] arisAlexis commented on #249
any ideas? I can't do it with meta tags on the page.

[2015-12-15 13:37] arisAlexis commented on #249
I am closing this after doing research. It is not possible to make facebook work programmatically but it needs to be written in the docs.

[2015-12-15 13:37] #249 closed

[2015-12-15 13:56] kylemac commented on #249
@arisAlexis would you be willing to add a PR with the doc update?

[2015-12-15 14:29] arisAlexis commented on #249
@kylemac with pleasure but I am not sure if I fail to use it properly still. noone else responded.

[2015-12-15 15:46] kylemac commented on #249
I'm thinking if we have your solution in the form of a PR - it'll help us investigate. i apologize for the delay, however, we just have not had enough time to dedicate to addressing each issue lately.

[2015-12-15 16:12] arisAlexis commented on #249
Of course not, this is provided for free and we appreciate it :) but I really ended up putting a normal facebook button and using this software for the rest of the social networks.

The thing is that sharer.php doesn't accept custom parameters and goes to the URL and actually parses it. If this is generated from an SPA then the metatags will not be there. What I did is to prerender my page only fo

[2015-12-16 14:51] arisAlexis commented on #249
Final comment for this. The custom description and url is working only if the link points to a page that has the open graph headers (ie you need to prerender it if you have an SPA). If you want this in the docs I will make a PR.

[2015-12-17 09:29] tagrudev commented on #249
I am facing the same issue can you add a description on the needed og headers ?

[2015-12-17 09:47] arisAlexis commented on #249
@tagrudev yes sure. What I did is I serve a blank page with only the meta headers if the user agent hitting the url is facebook's and if not the normal page.

The blank page only contains this (with handlbars markup):

<html>
    <head>
        {{#with data}}
          <meta name="author" content="{{metaAuthor}}"/>
          <meta property="og:url"           content="{{metaUrl}}" />
          <met

[2015-12-19 18:42] TiagoDeSousa opened #267 "Syntax error in line 4"
In share-button.js there a syntax error in line 4:
import ShareUtils from './share-utils';

[2015-12-19 18:48] TiagoDeSousa opened #268 "Example animation.html doesn't work"
animation.html in example folder doesn't work.

[2015-12-23 22:21] amalalili opened #269 "Configuration"
Hi,

I have some problems:

1) I can't delete share icon: export.svg

2) I can't delete some of social accounts: Ex: LinkedIn, Pinterest.

3) Email button doesn't work.

Please help me.

[2015-12-29 10:37] Chrysweel commented on #260
+1

[2015-12-29 11:49] Chrysweel commented on #269
Hello @amalalili in point 3, there are an issue open

27 days ago :(

[2015-12-29 11:58] Chrysweel opened #270 "Meta og:title twitter:title doesnt work"
Hello. In documentation

I read:
[code]
I my code I have:
[code]
But share-button always get the title tag value..

In code of share-button I see this:
[code]

The text always get of config of twitter... :/

How can I customize title to twitter and facebook ??

Is a bug ?

Thanks in advance !

[2016-01-11 21:37] vbledar opened #271 "Cannot build checked out share-button"
I am trying to build the project (gulp build) but I receive the following error:

/Projects/General/share-button/node_modules/gulp-accord/node_modules/accord/node_modules/when/lib/decorators/unhandledRejection.js:80
		throw e;
		^
TypeError: node.serializeToString is not a function
    at XMLSerializer.serializeToString (/Users/xxxx/Projects/General/share-button/node_modules/postcss-svg/node_modul

[2016-01-11 21:45] rejas commented on #271
It's an issue with xmldom, see https://github.com/jindw/xmldom/issues/146

[2016-01-23 19:53] Karlheinzniebuhr commented on #260
+1 is there no fix for this?

[2016-01-23 19:55] Karlheinzniebuhr commented on #255
not yet updated in master

[2016-01-23 21:49] Karlheinzniebuhr opened #273 "Buttons not aligned on mobile"
On mobile screens the social icons are at least 50% out of view.

![image](https://cloud.githubusercontent.com/assets/5278928/12533029/e40ff502-c201-11e5-9594-80ccdc71e040.png)

[2016-01-24 12:34] Karlheinzniebuhr commented on #273
fixed it by adding this to the CSS
share-button .sb-social.sb-center.active.sb-top {
  width: 0vw; height: 0vw;
}

[2016-02-04 07:24] d-knafo opened #274 "rtl is not working correctly"

[2016-02-05 11:42] brylie opened #275 "TypeError: flyouts[1] is undefined"
I am trying to change the flyout direction as such:

[code]

In the console, I get the following error:

[code]

What is the proper way to [configure the flyout direction](https://github.com/carrot/share-button/blob/master/docs/configuration-options.md) in v1.0.3?

[2016-02-05 11:54] brylie commented on #275
It sems like the `bottom-center` text was invalid. The error goes away when using `bottom center` instead. Perhaps this could be clarified in the documentation?

[2016-02-05 11:54] #275 closed

[2016-02-05 11:55] brylie commented on #275
The problem boiled down to hyphens in the flyout setting. `bottom-center` should be named `bottom center`.

[2016-02-05 12:12] brylie opened #276 "How to nest share button properly in Bootstrap menu?"
We have a site navigation bar built using Bootstrap 3. When adding the `<share-button>` element to the Bootstrap menu, the `Share` text is mis-aligned with other navigation links. Inspecting the page shows that the hidden social icons are pushing the `Share` text out of alignment:

![screenshot-1](https://cloud.githubusercontent.com/assets/17307/12845975/690183ce-cc12-11e5-9103-309ba4e41e10.png)

[2016-02-05 12:37] brylie commented on #276
I found one solution for this question, was to create a parent container and set `padding-top`:

[code]

However, I am not sure if there is a better solution, so would appreciate feedback.

[2016-02-05 18:49] virre commented on #276
The problem is based on the fact that all other elemnts in the menu is a-elements and the general placement and styleing have been done on a elements. Basiclly if we want to align things inside the menu as the setup now we either need to add it as a or make some special edits to make sure the element inherits and uses the same styleing. Also the glyph-icon styleing inside the a in spans might crea

[2016-02-05 19:18] virre commented on #276
To clearify:

"What CSS rules should I apply, so that the share button aligns with other Bootstrap navigation menu links (pictured)?"

As it current is it needs to be an <a> element that inherits from the navbar elements.

It might be possible to style the share-button-container the same way

[2016-02-07 01:35] elonz commented on #268
you need to run ```npm install``` from the command line in the directory of the extracted folder you downloaded. After that runs successfully, run ```gulp``` which will create the ```dist``` folder you need for the animation.html references to work.

[2016-02-07 13:18] simsketch commented on #268
if you receive any errors while running these two commands, you will need to troubleshoot/debug your local environment. Make sure you have the most recent versions of ```npm``` and ```gulp``` installed.

[2016-02-07 16:30] simsketch commented on #250
@vincent-guesnard try it with ```flyout: 'bottom center'```

[2016-02-07 17:11] simsketch opened #277 "Whatsapp not showing up"
I know it is enabled by default, but it seems no matter what I do I cannot get whatsapp icon to show up. I also noticed it says that whatsapp is enabled by default, yet on the demo page at http://sharebutton.co there is no whatsapp option.

[2016-02-10 14:44] jessenieminen commented on #277
@simsketch Did you check the demo page on mobile?
AFAIK it doesn't (and shouldn't) show up on desktop, only on mobile devices and on my iPhone the demo page seems to work...

[2016-02-12 11:02] vdecree opened #280 "Config not defined"
Hi there,

I am just getting `Config not defined` after trying to get this setup.

*My config:*
[code]

[2016-02-12 14:16] kylemac commented on #280
you're not doing anything with the `config` variable at all. you need to pass that to the `new ShareButton`. I suggest you read the documentation a bit more thoroughly. good luck

[2016-02-12 14:16] #280 closed

[2016-02-14 13:37] simsketch commented on #277
right you are! thanks!

[2016-02-14 13:37] #277 closed

[2016-02-16 14:11] gauravmak opened #282 "Not working with latest version"
Hello, am I making any mistake in this fiddle?
https://jsfiddle.net/0f0hetvg/1/

Why is it not working? I want to test share-button on a custom element actually.

[2016-02-17 00:59] GuillermoCasanova commented on #260
+ 1

[2016-02-17 01:00] GuillermoCasanova commented on #260
+1

[2016-02-17 02:06] hhsnopek commented on #273
Awesome! tho the purpose of the stacking is so that it will display all on the mobile screen... what's the fix look like?

[2016-02-17 02:24] hhsnopek commented on #282
Hey @gauravmak oddly I'm unable to get it to work inside jsfiddle or codepen - though I went ahead and pulled down `v1.0.3` and locally got [examples/animation.html](examples/animation.html) to work

[2016-02-17 02:26] hhsnopek commented on #271
it seems that the issue has been resolved - let me know if you're still having issues @vbledar

[2016-02-17 02:26] #271 closed

[2016-02-17 02:35] hhsnopek commented on #270
Her @Chrysweel, if meta tags are giving you a headache you can define the text, url and description in the [`config` object](https://github.com/carrot/share-button/blob/master/docs/configuration-options.md) (which is passed in on creation of the button).
Otherwise share-button looks for `meta name="og:title"` first, if it's not found it'll look for `meta name="twitter:title"`, if that also is not

[2016-02-17 02:35] #270 closed

[2016-02-17 02:36] gauravmak commented on #282
Surprisingly, its working locally when js and css files are also in local environment. If we include direct links to the files, same problem happens. So, codepen/jsfiddle isn't the reason for sure.

[2016-02-17 02:38] hhsnopek commented on #276
Hey @brylie the share-button was really meant, by default, to be used with spacing around/below a block of text. Your solution is perfect :smile:

[2016-02-17 02:38] #276 closed

[2016-02-17 02:39] hhsnopek commented on #282
are you downloading the files directly from the latest release?

[2016-02-17 02:40] hhsnopek commented on #268
Thank you everyone for the help!
Here's another solution, you can download the bundled release and add the correct path to `examples/animation.html` :smile:

[2016-02-17 02:40] #268 closed

[2016-02-17 02:43] hhsnopek commented on #267
Hey @TiagoDeSousa I believe you're looking for the distributed code instead of the source, this can be located here: https://github.com/carrot/share-button/releases - ignore the source code zips, those are not the files you are looking for :grinning:

[2016-02-17 02:43] #267 closed

[2016-02-17 02:43] gauravmak commented on #282
Yes.

[2016-02-17 02:44] hhsnopek commented on #282
let me give it another go, one sec

[2016-02-17 02:49] hhsnopek commented on #282
I went ahead and downloaded it locally again and created a fresh html file and loaded everything in. Everything is working as it should, which browser & os are you using?

[2016-02-17 02:55] hhsnopek commented on #262
hey @vincent-guesnard, I'm sorry to say but unfortunately Safari 5.1.17 is out of the coverage range for share-button. I'm personally unsure why it happens, but my assumption is that Safari 5.1.17 does not support the base64 encoded svgs or possibly `data:image/svg+xml` within the `background url` property

[2016-02-17 02:55] #262 closed

[2016-02-17 02:55] gauravmak commented on #282
I said its not working when direct links are references i.e.
https://github.com/carrot/share-button/releases/download/v1.0.3/share-button.min.css
and
https://github.com/carrot/share-button/releases/download/v1.0.3/share-button.js

When files are downloaded locally, its dine :)

[2016-02-17 03:03] hhsnopek commented on #282
Ohhh, sorry about that - completely missed what you were saying! But that would be correct it doesn't work as it should because it's coming from github

you'll need to reference the raw files here: https://github.com/carrot/share-button-bower/releases. This still might not work considering Github is not a CDN, we previously had these served on a CDN. I'm uploading the previous versions of share-bu

[2016-02-17 03:03] #282 closed

[2016-02-17 03:04] hhsnopek opened #283 "CDNJS support"
Add the ability to reference share-button from a CDN.
cc https://github.com/carrot/share-button/issues/282

[2016-02-17 03:06] hhsnopek commented on #265
Hey @wil93 you're correct when you say toRFC3986 is not a standard method in the String class, though it's easier to add to the String class, as it's the better class to be added to. Sorry for the inconvenience it brought you!

[2016-02-17 03:06] #265 closed

[2016-02-17 03:07] hhsnopek commented on #253
Hey @changalberto would you be to provide me with your browser(w/version) & os so I may reproduce the error?

[2016-02-17 03:08] hhsnopek commented on #266
Hey @paramsinghvc currently we have an open issue regarding email sharing here: #260
I'll be updating addressing the issue soon

[2016-02-17 03:08] #266 closed

[2016-02-17 03:13] hhsnopek commented on #259
Hey @vincent-guesnard which auto-concatenation/compress library are you using? When building and distributing the latest, we provide the minified versions that use minify (css) and uglify (js), both of which remove all comments from the code.

Regarding the dist/minified versions in the main archive I can go ahead and add the `dist` folder to the next tar/zip files (not the source files) - we've r

[2016-02-17 03:13] #259 closed

[2016-02-17 03:15] hhsnopek commented on #254
Hey @clayne11 for now this is meant to be a drop-and-go library instead of full customization. This is a great idea for a future/major release of share-button!

[2016-02-17 03:16] wil93 commented on #265
The alternative, of course, is to change the `toRFC3986` method to a function (or, making it a method of a different class, say `StringUtils`).

My app is small so I can change every `for..in`, but I believe this would really put off a big app from using carrot share button.

The `for..in` loop it's listed here as one of the reasons for being wary of extending native types: https://javascriptweblo

[2016-02-17 03:17] hhsnopek commented on #250
Hey guys any luck here, @vincent-guesnard?

I'm making note of adding the polyfill (provided above by @almoral) for IE9 support, but it maybe in a separate release than the mainstream release :smile:

[2016-02-17 03:18] hhsnopek commented on #265
you have a good point :smile: - we'll take it into consideration, if you'd like to make a PR with a proper change (as you purposed) - we'll gladly look it over!

[2016-02-17 03:19] hhsnopek commented on #215
I'm going ahead and closing this issue due to inactivity, feel free to reopen with some clarity! :smile:

[2016-02-17 03:19] #215 closed

[2016-02-17 03:20] hhsnopek commented on #170
closing this because it's irrelevant now

[2016-02-17 03:20] #170 closed

[2016-02-17 03:20] joelmats opened #284 "Facebook app_id is actually appId."
In the docs, it says to use app_id to specify this but in the code, it's actually looking for appId.
https://github.com/carrot/share-button/blob/master/src/share-button.js#L641

[2016-02-17 03:21] hhsnopek commented on #284
oh wow, I'm sorry about that! Thank you for bringing that up! - would you be able to update the docs and create a PR?

[2016-02-17 03:22] hhsnopek commented on #260
Sorry for the inactivity, this will be resolved soon!

[2016-02-17 03:22] joelmats opened #285 "When loading fb share with the sdk loaded, I am getting both pop up."
Commenting out these lines worked in eliminating the "sharer.php" from popping up:
https://github.com/carrot/share-button/blob/master/src/share-button.js#L496-L498

[2016-02-17 03:24] hhsnopek commented on #285
Hey @joelmats - is this the same issue as #266?

[2016-02-17 03:28] hhsnopek commented on #192
Hey, due to the inactivity I'm going to close this - let me know if this still persists and reopen the thread :smile:

[2016-02-17 03:28] #192 closed

[2016-02-17 03:32] hhsnopek commented on #274
Hey @d-knafo - Unfortunately as of now share-button does not support a change in `direction`, I'd recommend setting the share-button element to use `direction: ltr !important` for now. If you're looking to reorder the icons you can use config.ui.networkOrder and pass a String Array with the order you'd like (from `rtl` )

[2016-02-17 03:32] #274 closed

[2016-02-17 03:36] hhsnopek commented on #269
Hey @amalalili here's the answers to your questions :smile:

1.) remove the icon with custom css

2.) You're able to disable the social accounts by changing enabled to false in your config object.

3.) @Chrysweel is right, there's an open issue and it's well beyond it's due date to be taken care of. I apologize for that. The issue has been addressed and a fix will be released soon!

[2016-02-17 03:36] #269 closed

[2016-02-17 03:37] hhsnopek commented on #255
see #260

[2016-02-17 03:37] #255 closed

[2016-02-17 03:37] hhsnopek commented on #199
see #260

[2016-02-17 03:37] #199 closed

[2016-02-17 03:45] joelmats commented on #285
@hhsnopek This is slightly different. Basically, the FB SDK version opens and then right after the sharer.php version in a new window also opens because i think the href is being set when it's not suppose to.

[2016-02-17 03:46] joelmats commented on #284
Will do. Cheers!

[2016-02-17 05:25] gauravmak commented on #282
I see. Thank you.
In fact, my issue is different. I can't add share button to custom element.
When I googled the topic, there were some working examples but with `new Share()` instead of `new ShareButton()`.
To open an issue with an example I went to jsFiddle actually. But, made a mistake of wrong links.

[2016-02-17 05:31] hhsnopek commented on #282
Ahh well as of now with the latest version you'll use `new ShareButton(config);` instead of `new Share()` - are you able to get it working now?

[2016-02-17 05:39] gauravmak commented on #282
Yes, I know that and its working but only with `<share-button></share-button>`. I want it for something like `<div class="btn share-button"></div>`

[2016-02-17 06:23] hhsnopek commented on #282
Ahh okay, I see where you're trying to go with it now - what you can do is pass the element to `
[code]

[2016-02-17 08:15] hhsnopek commented on #260
Just merged the fix! I'll release an update in the morning :sunrise:

[2016-02-17 08:15] #260 closed

[2016-02-17 08:28] changalberto commented on #253
https://github.com/carrot/share-button/blob/master/src/share-button.js#L248 <https://github.com/carrot/share-button/blob/master/src/share-button.js#L248>

Quick look, seems like someone fixed it already.

[2016-02-17 08:29] hhsnopek commented on #253
All good to close the issue out @changalberto?

[2016-02-17 08:30] changalberto commented on #253
Sure. Thanks

[2016-02-17 08:30] hhsnopek commented on #253
awesome! - let me know if you run into anymore issues :smile:

[2016-02-17 08:30] #253 closed

[2016-02-17 08:31] hhsnopek commented on #284
fixed in #288

[2016-02-17 08:31] #284 closed

[2016-02-17 08:31] hhsnopek commented on #284
:smile:

[2016-02-17 08:35] hhsnopek commented on #282
Sorry I was mistaken, just pass:
`"div.btn.share-button"` instead of  `var element = document.getElementsByClassName('share-button')[0];`

I just realized my mistake, sorry about that - you'll be able to grab your element using selectors - [mdn reference](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll)

[2016-02-17 08:55] hhsnopek commented on #263
Hey @vincent-guesnard, did you add this to #250?

[2016-02-17 08:56] hhsnopek commented on #250
Going to get this figured out before the next release tomorrow morning - most likely wont have the IE9 polyfill, but I'll add a way to build it to the gulp tasks. (maybe even add it to the release files :wink: )

[2016-02-17 09:38] Chrysweel commented on #269
Ok @hhsnopek dont worry ! thanks ! :)

[2016-02-17 12:08] gauravmak commented on #282
Not working. You mean this, right?
`<button class="btn share-button"><span class="glyphicon glyphicon-share-alt"></span> Share</button>`
and
[code]

[2016-02-17 17:27] hhsnopek commented on #250
is anyone here able to check if #257 solves the problem at hand? I don't have a box for IE currently

[2016-02-17 21:21] #285 closed

[2016-02-18 10:18] AbrahamCovelo opened #290 "Mail button is not working"
I just enabled email button but it is not working at all. Tested on chrome and firefox (MAC)

[2016-02-18 13:17] kylemac commented on #290
please refer to the `contributing.md` guideline - https://github.com/carrot/share-button/blob/master/CONTRIBUTING.md#filing-issues

[2016-02-18 18:45] hhsnopek commented on #290
Hey @AbrahamCovelo yesterday I merged a fix in for the email button #208 - A new release will be out soon

[2016-02-18 18:46] #290 closed

[2016-02-20 18:17] #131 closed

[2016-02-20 18:18] #133 closed

[2016-02-20 18:24] hhsnopek opened #293 "Motion to close all `v0.5.x` issue"
Concerning the couple issues left with the `v0.5.x` tag, we've solved these in the latest release `v1.0.x`. I think we should close out the rest and drop support for the previous version.

I'd like to release v0.5.1 which is currently the [v0.5.x branch](https://github.com/carrot/share-button/commits/v0.5.x). I need someone, besides myself, to take a look at the code that's been merged into that b

[2016-02-20 21:35] tmilewski commented on #293
+1

On Feb 20, 2016, 1:24 PM -0500, Henry Snopeknotifications@github.com, wrote:

[2016-02-22 11:41] gauravmak commented on #282
Can you please guide @hhsnopek ?

[2016-02-23 03:31] hhsnopek commented on #282
@gauravmak I hate to apologize once more, but since `share-button` `v1.0.0` we no long use any divs. The reason behind this is to be modular and use a custom element which is supported all the way back into html 4.1 (if I'm recalling correctly). [https://jsfiddle.net/r80akxrr](https://jsfiddle.net/r80akxrr) here's a jsfiddle with working resources to sharebutton's lib

[2016-02-23 15:47] dragGH102 opened #294 "Can this be used without DOM dependencies (pure Javascript)?"
This module creates a DOM element which makes it unfeasible to use in Native application based on Javascript (e.g. Nativescript).

Is it possible to use Javascript only and define a custom button (which is in fact parsed as XML in Nativescript but the click event can actually run pure Javascript)?

[2016-02-24 11:36] connorjburton opened #295 "NPM Install Fails"
## Details

NPM Install fails, see the following gist

https://gist.github.com/connorjburton/88ceb51f12f418c875bd
#### OS(s)

OSX
### Steps to Reproduce
1. ​`sudo npm i --save-dev share-button`

[2016-02-24 16:18] hhsnopek commented on #295
hey @connorjburton it seems that your dev environment isn't fully setup, I've found [this](http://stackoverflow.com/questions/17980759/xcode-select-active-developer-directory-error) to help guide you :smile:

closing as the error is unrelated to share-button, but let me know if you need more help!

[2016-02-24 16:18] #295 closed, assigned to nobody

[2016-02-24 16:27] connorjburton commented on #295
Thanks @hhsnopek, I did try googling it beforehand, promise!

[2016-02-24 16:29] hhsnopek commented on #295
haha I believe you! I've had a lot of issues in the past with setting up dev environments, asking is a great way to find what you need :smile:

[2016-02-25 10:21] connorjburton commented on #295
Hi @hhsnopek, I know this issue isn't related to share-button so feel free to just ignore me :) Installed xcode and upgraded my node and i'm now getting https://gist.github.com/connorjburton/da03832e1cb55d76c715

Looks like it's an issue with cucumber or one if its dependencies? I'm really not sure.

As I said, not expecting you to solve this for me, just wondering if you ran into this before

[2016-02-25 17:49] hhsnopek commented on #295
@connorjburton this might be the issue, you've given root permissions to npm, what you'll want to do is follow this: https://docs.npmjs.com/getting-started/fixing-npm-permissions

I also recommend going ahead afterwards and reinstalling npm with these commands:

[code]

after all that remove the `node_modules` folder in the project and run `npm i` to install all of your project dependencies, you m

[2016-03-01 13:54] wraithseeker commented on #282
I had this issue earlier on when trying to install it but I realised I had forgotten to use document.ready to wait for the page to load before running the share func

[2016-03-03 10:14] wraithseeker opened #296 "Facebook options description not working"
## Details

I am editing facebook's description displayed by share-button but when I click share by facebook, I am not getting the string value that I inputted under description.

[code]

[2016-03-03 10:29] connorjburton commented on #295
Hi @hhsnopek - sorry forgot to reply to you, I did try above but it didn't work.

No worries though, I will fix it somehow.

Thanks for the help

[2016-03-03 14:25] wraithseeker commented on #296
I read through the facebook docs https://developers.facebook.com/docs/sharing/webmasters/crawler and I managed to solve this problem through another way by providing the og:description and og:title tags in my header which are dynamically added to the page.

[2016-03-03 14:25] #296 closed, assigned to nobody

[2016-03-03 14:26] wraithseeker commented on #139
My other alternative solution was to dynamically provide the og:title and og:description in the headers to configure the title and the description.

[2016-03-03 15:20] hhsnopek commented on #296
:+1: glad you solved the problem!

[2016-03-10 02:36] neuropass opened #297 "bootstrap modal addin"
Would it be possible to use the bootstrap modal rather then the ugly default browser tab?

any suggestion on how to do it?

[2016-03-10 15:42] m00s commented on #260
Hi @hhsnopek, has this fix been released?
I still see the issue in chrome and safari mobile

[2016-03-10 16:10] hhsnopek commented on #260
Hey @m00s this fix hasn't been released yet - I was hoping to do so... well 22 days ago, I'll get to this soon :smile:

[2016-03-10 16:22] m00s commented on #260
@hhsnopek many thanks :pray:

[2016-03-10 16:38] hhsnopek commented on #297
hey @neuropass - from a quick glance you'd have to render the contents of the window into the modal, most likely using an iframe. I've never used bootstrap's modals, but my assumption is that you'll either have to create a custom modal that communicates with the social networks apis or you'll have to override the render function and trigger the modal to load an iframe with the share link.

[2016-03-10 17:15] neuropass opened #298 "dependencies - the plugin is not lightweight"
Hi,
I noticed there are still many dependencies and saying that the plugin doesn't add overhead its not quite true.   Iwould argue the opposite in fact.

for example ,the lato font @import is a terrible practice and its not useful to anyone just to add a  "share" text.  it should not be part of the default css for sure.

regarding the script, 60kb is not what I consider lightweight. 29, minified s

[2016-03-10 17:28] kylemac commented on #298
@neuropass if you're willing to help slim it down - we'd very likely be open to a PR

[2016-03-10 17:54] neuropass commented on #298
I would If I had the knowledge. I like the plugin but saying its lightweight ,  no overhead etc etc is simply not true. less experienced users are installing this thinking is some great addon. it is but comes with a cost on your web page. I dont think you can ignore this. Lato font alone is not needed. all that JS is it really needed to create a simple share button? what's the logic behind it?

[2016-03-10 18:08] kylemac commented on #298
@neuropass you'll have to show me where were are billing it as "no overhead etc etc". we don't use that language in the readme anywhere. if i had to guess you're referring to where we say "Simple, **light**, flexible, and good-looking share button" - which I don't feel is a stretch.

I agree in principle the Lato font is not required. Perhaps we'll make it optional someday. We'll be sure to ping y

[2016-03-10 18:16] hhsnopek commented on #298
Just to chime in; in share-button's current state we've added the ability for users to integrate the button in various ways and allow a lot more customization than previous versions. Regarding how lightweight share-button is, well that's left to one's opinion. I do agree that it's current state isn't the lightest, but some people will consider jquery to be light and that's [pretty big](https://mat

[2016-03-10 18:44] bgaillard commented on #251
Hi, we also need this, it seems that @aproxis solution does not work as expected in our case because :
- If you have for example 5 buttons on the same page then their will be 5 `click`bindings, after that if we click on one button it seems the click callbacks are called 5 times for a button ;
- In consequence this opens the sharing windows several times by clicking on a button, for exemple in our

[2016-03-15 11:15] jdvch opened #299 "email button"
## Details

click on the email button don't open the email app
#### OS(s)

mac OS 10.10.5
#### Browser(s)

Safari 9
Firefox 45
## Comments

Resolved with this modification
share-button.js
line 248     if (network.className !== 'email enabled')
line 249         a.setAttribute('onclick', 'return false');

[2016-03-27 05:23] own3mall commented on #299
Yep, also fixed it in my branch.

https://github.com/own3mall/share-button/commit/1793428f4af63ec7ce44486da6c0cc4c12c9ac88

[2016-03-27 05:29] own3mall opened #300 "Fix for Email Button, Added Tooltips on Buttons, Added Active CSS Class to Button Itself, and More"
First off, I'm not sure why your repository has a different version of share-button.js than the release does, so I cleaned this up in my repository.  I don't want to create a pull request since it will complicate your branch.

So, to illustrate my changes, I committed your release version, and then I inserted my changes into it.

https://github.com/own3mall/share-button/commit/1793428f4af63ec7ce44

[2016-04-01 02:40] RedPointMS commented on #139
+1

[2016-04-01 04:14] RedPointMS commented on #139
@wraithseeker Could you give some details how you did it? I am sorry, but I am beginner and I am trying to figure out how to work around this problem.

[2016-04-01 04:41] wraithseeker commented on #139
@RedPointMS
https://blog.kissmetrics.com/open-graph-meta-tags/.

For example, just add the property og:description to your headers which contain the meta description.

`<meta name="description" property="og:description" content="Some text...">`

[2016-04-03 23:45] RedPointMS commented on #139
@wraithseeker Thanks for this. Unfortunately this doesn't work for me as I have to change the message for each user. The og requires Facebook to scrape the page every time, so in my case it was not feasible. Ultimately the way how I solved it was by adding a hook `before:`:

`FB.ui({
method: 'feed',
description: "Here is the test. Look here:",
link: "http://test/",
caption: 'here is the caption',

[2016-04-07 16:08] svsdesign commented on #251
+1

[2016-04-08 15:10] nicolasbadia opened #301 "Pictures are not displayed in Chrome"
When using the plugin in chrome there is no pictures visible.

I'm having the issue on my website and on the demo: https://sharebutton.co/
It seem to works fine in all other browser.

![capture d ecran 4](https://cloud.githubusercontent.com/assets/477089/14388051/7d6fa9dc-fdac-11e5-9b4e-d35c8296ad73.png)

[2016-04-09 18:12] PontusTideman commented on #300
Downloaded your file, but the button is NOT displaying in Firefox nor Safari on El Capitan... :/

`<pre><span class="new">new </span><span class="class">share-button</span>();</pre>
  <script src='dist/share-button.js'></script>
  <script>`

The dist-folder is M.I.A also.

[2016-04-09 19:01] PontusTideman commented on #301
Be glad for that... Downloading the latest and the share button dosen´t even display for me in either Safari nor Firefox on El Capitan! :/

[2016-04-09 19:11] PontusTideman opened #302 "Only new share-button(); is visible in FF, Safari & Chrome!"
## Details

Downloaded latest version and only **new share-button();** is visible in the browser.
### Description
### Affected Tech
#### OS(s)

OS X El Capitan
- ​
#### Browser(s)

Firefox, Safari and Chrome
- ​
### Steps to Reproduce

Download the latest version, unpack and try it out!
### TL; DR

<link href="dist/share-button.min.css" rel="stylesheet">

<script src='dist/share-button.js'></scrip

[2016-04-09 19:15] PontusTideman commented on #302
Update:
Downloaded each release and tested, and the 0.5.0 is working as it should. The rest is empty...

[2016-04-09 21:06] PontusTideman commented on #301
![screen shot 2016-04-09 at 23 05 39](https://cloud.githubusercontent.com/assets/9256550/14406433/b12023e6-fea7-11e5-8eed-971d7d5fe490.png)

But for me the demo page is working fine in Chrome!

[2016-04-09 22:19] alligatorio opened #303 "Share dialogs don't open from Safari on iOS"
I'm running into an odd problem on this implementation of the share button (the fushia share icon under the title): https://beee.io/retouching/palm-trees-teal-sky/

Things work perfectly on Safari, Chrome and Firefox, but on Safari on iOS nothing happens when you click on any of the social media icons. They just retract back up, but no new window opens to share the content. Same thing happens on t

[2016-04-09 23:06] own3mall commented on #300
Uh what are you talking about?  The code you posted has nothing to do with how you're supported to use the share button... you need to load it Javascript side.

[2016-04-09 23:09] own3mall commented on #300
Put this somewhere on the page in the HTML:

`<share-button></share-button>`

Then in a Javascript script:

`new ShareButton({
                optionsHERE
            });
`

[2016-04-11 18:27] RedPointMS commented on #250
This still doesn't work in IE11 (button doesn't appear) nor in MS Edge browser (button appears but the svg graphics are not rendered). Changing the el.style.display  to "inline-block" shows the button in IE11 but like with Edge the graphic is now shown.
This is a serious usability problem as there are lots of users running Windows either or their laptops or tablets. Would anyone be able to look at

[2016-04-11 18:37] hhsnopek commented on #250
@RedPointMS could you take a look at the latest changes on master? Still need someone to test this out for me as I don't have a windows machine

[2016-04-11 20:05] RedPointMS commented on #250
It doesn't work for me. I am getting error in share-button.js:
`Unexpected use of reserved word 'import'`

[2016-04-11 21:05] hhsnopek commented on #250
@RedPointMS you'll have to go ahead and build the project unless you're in a browser which supports ES2015

[2016-04-12 09:55] PontusTideman commented on #300
Yes, and none of ´em are working for me! Tried a couple diff solution... Still no share button or network is displayed! Please see my https://github.com/carrot/share-button/issues/302

[2016-04-12 16:17] RedPointMS commented on #250
I tried to build the environment but unfortunately `npm install` fails with several error messages `fetch failed with status code 504`. It seems that it is related to [https://github.com/npm/npm/issues/12001]. Could you create distribution files on your environment? I will be happy to test them

[2016-04-14 04:13] own3mall commented on #300
You're right!  This share-button plugin is poorly written.  I looked through the code, and it is using questionable CSS for calculations and complicated markup when it can be a lot simpler.  As a result, a similar plugin was created which should provide the same functionality share-button provides in the form of a much simpler jQuery plugin.

Please see here:

https://github.com/earnolmartin/jquer

[2016-04-14 04:13] own3mall commented on #302
Try this?

https://github.com/earnolmartin/jquery_social_media_share_plugin

[2016-04-18 14:30] RedPointMS commented on #301
It also doesn't work on IE11 nor Edge browsers, but works for me in Safari. As per [https://github.com/carrot/share-button/issues/250](https://github.com/carrot/share-button/issues/250) there seems to be untested new version that has improved cross-browser compatibility. Unfortunately I am not able to test it as it requires a build environment to create distribution files, and I was not successful

[2016-04-22 18:15] superKalo commented on #301
I have the same issue. On Chrome 50, and IE - icons are invisible.

So here's a workaround that I did. I [took the SVG images from the repo](https://github.com/carrot/share-button/tree/master/src/svg), I added a second version of each (example: pinterest-light.svg) that's the same, but white (with fill="white") and finally I overrode the messed-up plugin styles - updating the background-image with

[2016-04-28 06:13] Exclam commented on #219
I had the same issues with Chrome today. I solved it (but only for Chrome) by urldecode the SVG in the css and set the width and height to 100%. Maybe the issue is caused by the frameworks I use around. eg. Flexbox.

Unfortunately it doesn't run now in Firefox and Safari :)
Used in basket view of http://www.love-o-mat.de/

[2016-04-28 17:06] jchatard opened #304 "npm install fails due to "i" version 0.3.2 unpublished"
## Details

Impossible to install dev dependencies to an unpublished package version on npm. As stated by the author: https://www.npmjs.com/package/i
### Description

I don't know which package depends on this one...
### Steps to Reproduce

Using master branch, run:

[code]

[2016-04-28 17:48] kylemac commented on #304
@jchatard willing to submit a pull request to fix this?

[2016-04-28 18:17] jchatard commented on #304
As stated in my issue description, I don't know which npm package relies on
it, as it doesn't seem to be a direct dependency of the project.

I'd love too, but don't how to find the info, I'm not that used to npm. :)

[2016-04-29 10:08] jchatard commented on #304
Ok, I'm desperate!

I checked the dependencies, like this: `npm-remote-ls share-button`, got that, no `i@3.0.2`, but `i@0.3.4` which is a dep of `utile@0.2.1`, which is a dep of `prompt`, which drive me crazy so much dependencies just for 3 social sharing widgets (nothing personal in here ^^).

Also got this error message at the beginning, don't know if I should care about it!

[code]

Then, I dec

[2016-05-02 19:36] shanetheboland commented on #301
I’m having the same issue as @nicolasbadia

The icons show up in Safari and Firefox. But they aren’t appearing in Chrome.
You can see the live site here: http://www.ecovativedesign.com/blog/146

[2016-05-03 19:57] natecook commented on #219
Ya, [the example](https://sharebutton.co/) seems to be broken again. It's not displaying the SVGs for me in Chrome Version 50.0.2661.94 (64-bit) and on MacBook Pro OS X Yosemite 10.10.5

[2016-05-04 12:37] martinoleary opened #305 "Chrome update, icons missing"
## Details

Chrome not showing the icons on the share popup
### Description

see attached.
### Affected Tech

Chrome Browser version: 50.0.2661.94 (64-bit)
#### OS(s)

Ubuntu and Windows 10
- ​
#### Browser(s)

Chrome
- ​
### Steps to Reproduce

replicate on the example site using this chrome version or later: https://sharebutton.co/
![share-button](https://cloud.githubusercontent.com/assets/10506

[2016-05-04 12:40] gauravmak opened #306 "SVGs not working with latest version of Chrome"
Not working in [main site](https://sharebutton.co/) as well. Check attached.
![share button test](https://cloud.githubusercontent.com/assets/11887260/15014402/6f132752-1223-11e6-9ce6-69abb4d76e83.png)

[2016-05-04 18:25] techpines commented on #305
+1

Is there a workaround?

[2016-05-05 14:40] rcamposp commented on #306
I'm having the same issue. See #305

[2016-05-05 14:48] rcamposp commented on #305
Same here. Still looking for a answer...

[2016-05-05 14:51] kylemac commented on #305
all, we may not be able to look into solving this for weeks. unfortunately, this project is low on our priority list and we'll have to rely on the community if there's going to be an immediate solution.

[2016-05-05 15:00] techpines commented on #305
I think if you host the SVG icons somewhere else, and then just reference them in the stylesheets, I bet this would work.

Right now they are embedding the SVG's as base64 data in the css, and there must be some kind of encoding mistake.   I'll post a workaround, in the next few days unless someone else does.

[2016-05-05 15:13] rcamposp commented on #305
I've downloaded the SVG files and change the background images to point directly to the files instead of the URI data and it worked. Apparently the encoding generated after stylus compilation is not longer compatible with Chrome.

[2016-05-05 17:36] hhsnopek commented on #305
It appears we're missing `utf8` in our data uri
see this thread - https://mobile.twitter.com/hhsnopek/status/728251445103845376

[2016-05-05 17:56] xxxdepy commented on #305
As well the encoding of the SVG markup in the background-image URL doesn't look good.

The normal SVG markup code be used, like this:

`background-image: url("data:image/svg+xml;utf8, <svg>...</svg>");`

[2016-05-06 02:10] gauravmak commented on #306
Thank @rcamposp

[2016-05-06 02:10] #306 closed, assigned to nobody

[2016-05-06 02:36] gauravmak commented on #305
@rcamposp How did you exactly save SVGs as image files? I tried a couple of solutions but failed.

[2016-05-06 06:21] rcamposp commented on #305
At the end i tried something different because i couldn't change de color
(i don't have much experience working with svg). Because I was using
fontawesome on the project for other stuff, I decided to use those icons
instead and worked like a charm.
On May 5, 2016 10:36 PM, "Gaurav Makhecha" notifications@github.com wrote:

[2016-05-06 14:20] rcamposp commented on #305
I tried something like what @hhsnopek and @xxxdepy suggested but didn't worked for me. Anyone else has tried changing the url?

[2016-05-06 15:25] xxxdepy commented on #305
@hhsnopek @rcamposp It appears that omitting `utf8` isn't the actual problem.

In Chrome, not explicitly setting the width and height of the SVG element causes it to not work.

Here's an example with the same code being used on the page with the problem:
http://jsbin.com/wuyemu/edit?html,css,output

Setting the width and height may work.

Interestingly Mozilla Firefox doesn't seem to support non-e

[2016-05-07 04:50] gauravmak commented on #305
Thank you @xxxdepy Specifying width and height works well.

[2016-05-07 10:52] perjonsson commented on #219
Same here. Chrome 50.0.2661.94 on El Captain 10.11.1. Any news on this?

[2016-05-07 19:34] colavitam commented on #304
The reference to the unpublished package is actually in pioneer, which is no longer maintained. If you don't plan on running tests, you can safely remove pioneer from package.json.

[2016-05-08 17:03] yeusiukou commented on #305
Can anybody post the fixed css file?

[2016-05-08 17:07] colavitam commented on #305
These are the new css files as produced by #307.

[newcss.zip](https://github.com/carrot/share-button/files/254008/newcss.zip)

[2016-05-08 17:10] yeusiukou commented on #305
Thank you, @colavitam!

[2016-05-09 22:43] erwstout commented on #304
I just submitted a PR that removes Pioneer so that `npm install` will successfully run, so we will see if it gets merged in.

As a side note, `bower install share-button` still works.

[2016-05-13 14:24] natecook commented on #219
@perjonsson you may find an answer over at [this issue](https://github.com/carrot/share-button/issues/305). I ended up downloading the svg's and then referencing those instead of the data uri.
Another guy said he did the same on the other issue.

[2016-05-29 18:42] distalx commented on #304
+1

[2016-06-09 10:06] simonbuehler opened #310 "Can't use a existing image as a the event source"
hi,

its not possible to use a image (styled button to fit design) and attach the share-button trigger to it. How can this be fixed?

[2016-06-22 10:59] hypergeometric commented on #301
@shanetheboland You seem to have fixed this on your site. What was the solution?

[2016-06-22 15:37] shanetheboland commented on #301
@hypergeometric
1. Download this zip https://github.com/carrot/share-button/files/254008/newcss.zip
2. Move the new share-button.css into your css directory and replace the old share-button.css

Found the answer in Issue #305.

[2016-06-23 09:36] hypergeometric commented on #301
@shanetheboland Awesome thanks!

[2016-07-26 20:25] benzmuircroft opened #312 "How do I not show the share button? just want to see the li elements!"
## Details

How do I not show the share button? just want to see the li elements!
### Description

Clicking share then clicking the network you wish is redundant. Can I please not have the user click share to show the buttons and not have the share hide the buttons!
### Affected Tech
#### OS(s)
- ​
#### Browser(s)
- ​
### Steps to Reproduce

[jsfiddle Example](http://jsfiddle.net/28fn23bj/)
1. ​
2

[2016-07-31 15:20] kxxoling commented on #304
Fixed my issue: `npm i -S git+https://github.com/jhit/share-button.git`.

Consider to merge PR https://github.com/carrot/share-button/pull/311 ?

Update: Not works with import in this way.

[2016-08-01 09:38] iamtiz commented on #251
+1, it would be extremely useful

[2016-08-02 05:06] unRARed commented on #305
I just ran into this same issue this evening. It appeared the solution was going to be having to download the assets and refer to them explicitly, but strangely I was able to get the assets to display as is with only these two lines of SASS:

[code]

Can't confirm vanilla CSS will do the trick but the above compiles to:

[code]

Confirmed working in Safari Version 9.1.1 (11601.6.17), Firefox 47.0

[2016-08-13 01:53] binarykitchen opened #313 "Like button"
Probably out of scope of this ticket but would be good to have another option to place a like button before the share button. For example https://developers.facebook.com/docs/plugins/like-button#configurator

Probably not easy to add since not all networks have a like feature. Any ideas?

[2016-08-20 03:07] binarykitchen commented on #313
ping? @carrots

[2016-08-22 15:21] simsketch commented on #305
I guess all that remains is for the carrot creative team to update the css on sharebutton.co to reflect the newcss.zip file which has been confirmed working. @hhsnopek

[2016-08-30 08:27] binarykitchen commented on #313
pong?

[2016-08-31 07:36] birneos commented on #299
i am using only share-button-min.js!
i am using share-button v. 1.0.3., all ShareLinks are ok ...only my email ShareLink don't open, do you have any idea?

[2016-09-20 16:24] dingzhanjun commented on #167
Hi, I tried this, it does not work, I also tried the original stuff on JSFIlldel, not either

[2016-10-21 09:28] nomoregrapes opened #314 "Pull requests outstanding"
Is this repo still maintained? There are outstanding pull requests from months ago that fix a number of open issues.

It seems better to use the fork at https://github.com/erwstout/share-button than to clone directly from Carrot.

[2016-10-21 14:52] hhsnopek commented on #314
Hey @nomoregrapes

I apologize for the lack of communication that the community and yourself has received. I regretfully must inform you and the community that this project is no longer being maintained. Shortly after this post is public you will see that the description has been updated with a note stating that this project is now unmaintained. Someday I'd like to imagine this project would becom

[2016-12-15 06:29] gomalpradeep commented on #167
HI @taqiofficial  the above script does not work

[2017-01-21 17:32] #263 closed

[2017-02-02 20:48] simsketch commented on #299
Use own3mall's version to fix the email...worked for me.

https://raw.githubusercontent.com/own3mall/share-button/1793428f4af63ec7ce44486da6c0cc4c12c9ac88/src/release/share-button.js

[2017-02-10 12:58] pradheepap commented on #250
The share button shows now with changing to  el.style.display = "inline-block";. However the icons doesnt disappear even after opening facebook/linkedin. The image stay still in IE11 but not in chrome or Firefox

[2017-02-10 13:06] pradheepap opened #315 "Share Button not working in IE11"
## Details
   The network buttons that appear after clicking share button does not disappear even after clicking the facebook/twitter buttons in IE11. It works fine in chrome and FF
### Description

### Affected Tech

#### OS(s)

- ​

#### Browser(s)

- ​IE 11

### Steps to Reproduce

[jsfiddle Example](http://jsfiddle.net/28fn23bj/)

1. ​Click Share button in the demo page (index.html)
2. ​ The n

[2017-03-17 08:23] Nazarah opened #316 "Can I use the common "Share icon" instead of the button text and font-awesome icon showed in the demo?"
## Details
![share-button](https://cloud.githubusercontent.com/assets/17976243/24034844/a3847e42-0afb-11e7-9c40-f2f484c2852d.png)

This one is more intuitive and common among people.
Got this from Android material Design icon set.

[2017-04-30 22:01] refi64 commented on #305
FWIW just rebuilding with the latest svg builder seems to fix the problem...

[2017-04-30 22:19] refi64 commented on #314
*cough* *cough*

https://github.com/kirbyfan64/better-share-button

[2017-04-30 22:23] refi64 commented on #316
FWIW this is untested, but you *should* be able to shove this in your CSS:

[code]

and then create a `ShareButton` using this:

[code]

[2017-05-02 12:10] Nazarah commented on #316
Thanks a lot for the help. :)
i'll have a look to the code. :)

[2017-09-15 21:56] jasan-s commented on #167
any update on this? I wanted to get a successful callback , so I can offer a user discount code

[2017-11-07 18:30] TingAli commented on #314
Cheers @kirbyfan64

[2018-02-14 12:22] MBK8303 commented on #167
how we can get response after sharing content from Facebook in asp.net....:)
that response is null or not.
Please send me suggestions

[2018-05-04 08:12] vigna opened #317 "Site no longer available"
www.sharebutton.co is down (replaced by a standard DNS provider page).

Everything stopped working. Can you provide the files stored on the server, or a way to download them and reproduce the working environment? Thanks.

[2018-08-03 11:02] mark-a-roberts commented on #317
From your comment, I guess you're using an old (0.x) version of share-button

1.x versions of share-button don't use the entypo font, so your solution should be to either upgrade or find a copy of entypo.css and change references to a new URL in your version of this package.

[2019-04-01 16:06] Giacomo92 opened #318 "Whatsapp not showing up on desktop"
Hi everyone,
The whatsapp button is not visible on desktop version. Since whatsapp have released his desktop application share button should show a link generated like this:

`https://web.whatsapp.com/send?phone=<your phone>&text=<your text>`

[2019-12-03 20:02] dmathisen opened #319 "Website compromised with exploit"
FYI - I went to the website (I won't link here) and it triggered my firm's anti-virus. The website loaded an exploit kit of sorts. I'll see if I can get more details from my IT guys.

Edit: Symantec IPS (Intrusion Prevention System) flagged it as "Web Attack: Rig Exploit Kit Redirection 13"